@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic');

body {
    overflow-x: hidden;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.taltek-login-form{
    max-width: 300px;
    margin: auto;
}

.taltek-login-form .login-form-button {
    width: 100%;
  }

.dashboard-container {
  width: 100%;
}
.App {
  text-align: center;
}
.logo {
  height: 85px;
}

.ant-layout {
    background: #ffffff;
}

.ant-select-selection.ant-select-selection--single {
    background: #e6e9ed;
}

.share-icon {
    width:24px;
    height: 24px;
    margin: 5px;
}

.app-container{
  max-width: 1680px;
  background: white;
  align-items: center;
  display: flex;
}

.app-container__header {
  height: 60px;
  max-width: 1440px;
  width: 100%;
  margin:auto;
  background: white;

}
.app-container__main-menu {
  display: none;
  align-items: center;
  border: none;
  height: 100px;
}
.app-container__main-menu a.app-container__main-menu__link {
  color: #787e90;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.link-override, .link-override:active, .link-override:visited, .ant-anchor-link-active {
    color: inherit;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #787e90;
}

.link-override-active,
.app-container__main-menu a.app-container__main-menu__link:hover {
    color: #004c89 !important;
}

.link-popover-container .ant-popover-inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.pages-list-wrapper {
  margin: 5px 10px;
  max-width: 960px;
  margin: auto;
}

.carousel-wrapper {
  max-width: 1680px;
  width: 100%;
  height: 600px;
  position: relative;
  align-self: center;
  margin-bottom: 120px;
}

.carousel-wrapper__controls {
  position: absolute;
  right: 30px;
  bottom: 10px;
  display: flex;
  z-index: 2;
}

.carousel-wrapper__controls .slick-active .carousel-wrapper__controls__dot {
  background: white;
  transform: scale(1.2);
}

.carousel-wrapper__controls__dot {
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.3);
  transition: background-color .5s ease;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-wrapper__description__group {
  margin: 40px 0 0 40px;
  max-width: 90%;
  min-height: 120px;
  position: relative;
}

.carousel-wrapper__description h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #ffffff;
}

.carousel-wrapper__description a {
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  bottom: -10px;
  left:0;
}

.pages-list__add-button {
  display: flex;
  justify-content: center;
  text-decoration: none !important;
}
.page-editor__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #144d89;
  height: 70px;
  color: white;
}

.page-editor__button-with-offset {
  margin:0px 20px;
  color: white;
}

.page-editor__page-preview-wrapper {
  min-height: 800px;
  border: 1px solid rgba(10,10,10,.1);
  margin-top:20px;
}

.page-editor__navMock-wrapper {
  height:50px;
  background: #ccc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-editor__navMock-link {
  width: 40px;
  height: 3px;
  background: #bbb;
  margin-left: 30px;
}

.page-editor__slider {
  height: 400px;
  background: #bbbbbb;
  position: relative;
  margin: 50px 0;
}

.page-editor__badge {
  position: absolute;
  bottom:0;
  right:0;
  width: 30%;
  height: 50%;
  background: #cccccc;
}

.page-editor__dots {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
}

.page-editor__slider-dot {
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  margin: 1px;
}

.app-container__footer {
  width: 100%;
  height:200px;
  flex-flow: column;
  background: #1d2b37;
  justify-content: center;
  align-items: center;
}

.footer__logo-kody {
    
}

.newslinks-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.app-container__footer h2 {
  opacity: 0.4;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #fff;
}

.cards-wrapper,.news-wrapper {
  background: white;
}

.card {
  width: 270px;
  height: 200px;
  margin: 15px;
  position: relative;
  background-color: #004c89;
  overflow: hidden;
}

.all-news-container {
    max-width: 100vw;
    padding: 0 25px;
}

.news-item--image,.news-item--no-image {
    background: #ffffff;
    width: 270px;
    height: 200px;
    margin: 15px;
    position: relative;
    border: solid 1px #e6e9ed;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.media-page.news-item--image,.media-page.news-item--no-image {
    margin:0;
    margin-bottom: 7px;
}

.card:after {
  content: "";
  width:100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
  opacity: 1;
  transition: opacity .5s ease ;
}

.card__image {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
}

.other-news-heading {
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #1e1e1e;
    margin-top: 100px;
}

.card h1 {
  margin: 40px 0 0 40px;
  max-width: 50%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  z-index: 2;
  pointer-events: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}
.news-item--no-image {
    color: #464a56;
}

.news-item--no-image span{
    font-family: 'Noto Sans', sans-serif;
    color: #3c58a6;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.46;
    letter-spacing: 0.1px;
    margin: 30px 0 0 40px;
}

.news-item-mobile {
    width:300px;
    height: 140px;
    border-bottom: 1px solid #e6e9ed;
    margin: auto;
    padding: 15px;
}

.news-item__date-mobile {
    font-family: "Noto Sans", sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: #3c58a6;
    display: block;
}

.logoby {
    font-family: "Open Sans";
}

.news-item__heading-mobile {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #464a56;
}

.news-item--image span {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.46;
    letter-spacing: 0.1px;
    margin: 30px 0 0 40px;

}

.news-item--image h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 0 auto 40px;
    max-width: 50%;
}

.news-item--no-image h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #464a56;
    margin: 0 0 auto 40px;
    max-width: 50%;
}

.news-item--no-image a,.news-item--image a {
    color: #787e90;
    z-index: 2;
    margin: 0 0 27px 40px;
}

.card a {
  position: absolute;
  left: 40px;
  bottom: 27px;
  color: rgba(255,255,255,.5);
  z-index: 2;
  transition: color .5s ease;
}
.card:hover > a {
  color: white;
}
.card:hover:after {
  opacity: 0;
  cursor: pointer;
}

.infofig-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #505050;
  margin-bottom: 70px;
}

.infofig-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.infofig {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 330px;
  height: 250px;
  border: solid 1px #e6e9ed;
}

.infofig > span:nth-child(1){
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #505050;
  margin-top: 30px;
  margin-bottom: auto;
}
.infofig span {
  margin-left:40px;
}
.infofig > span:nth-child(2),
.infofig-group > span:nth-child(1){
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #004c89;
}

.infofig > span:nth-child(3),
.infofig-group > span:nth-child(2){
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #004c89;
}

.infofig > span:nth-child(4),
.infofig-group > span:nth-child(3){
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #004c89;
  margin-bottom: 30px;
}

.infofig-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.infofig-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.map-wrapper {
    width: 100%;
    height: 896px;
    position: relative;
    background: #fafafa;
    margin-bottom: 120px;
}

.map-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    pointer-events: none;
}

.map-overlay span:nth-child(1){
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #505050;
    margin: 50px 0 auto 45px;
}

.map-overlay span:nth-child(2){
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #004c89;
    margin: auto 0 110px 45px;
    position: relative;
}

.map-overlay span:nth-child(2):before {
    content:"“";
    width: 20px;
    height: 17px;
    position: absolute;
    top: 0;
    left: -20px;
    color: #aab9ca;
}

.popover-container {
    width: 300px;
    /*height: 120px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.ant-popover-arrow,
.ant-popover-inner{
    background: #004c89;
}

.popover-container__heading {
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
}

.popover-container__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popover-container__link {
    margin-top: auto;
    margin-bottom: 35px;
    color: rgba(255,255,255,.5);
    text-decoration: none;
}

.popover-container__link:hover {
    color: #ffffff;
}

.flex-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.select-locale{
    height: 24px;
    width: 64px;
}

.select-locale * {
    height: 24px;
    border-radius: 2px;

}
.ant-select-selection-selected-value{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.news__main-link {
    margin: 0 15px 0 50px;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #787e90 !important;

}
.ant-radio-button-wrapper {
    color: #787e90;
}
.ant-radio-button-wrapper.ant-radio-button-wrapper-checked {
    background-color: #004c89;
    border: 1px solid #004c89;
    color: white;
}

.main-page-container {
    max-width: 1680px;
    position: relative;
    width: 100vw;
    margin: auto;
}

.main-page-content {
    width: 300px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    align-self: center;
}

.news-heading {
    height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #505050;
}

.news-expanded-heading {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e1e1e;
    margin-bottom: 30px;
}

.news-heading-container {
    /*margin: 0 auto 30px 0;*/
}

.ant-fullcalendar-header .ant-radio-group {
    display: none;
}

.tags{
    order:2;
    margin-top: 15px;
}

.news-open {
    display: none;
}

.map {
    display: none;
}
.map-overlay {
    display: none;
}

.step-content {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.page-element__video {
    /*width: 100%;*/
}

.link-override:hover {
    color: #004c89;
}

.carousel-wrapper__image {
    width: 100vw;
    height: 600px !important;
    background-size: cover;
}

.carousel-wrapper {
    width: 100vw;
    height: 600px;
}

.carousel-wrapper__description {
    position: absolute;
    bottom:0;
    right:0;
    width: 295px;
    height: 199px;
    background-color: #004c89;
}

.nav__mobile{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 100%;
}

.nav__mobile__toggle{
    font-size: 30px;
}

.nav__mobile__curtain {
    z-index: 2;
    background: white;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    pointer-events: none;
    opacity: 0;
    transition: all .5s;
}

.nav__mobile__curtain.opened {
    top: 60px;
}


.nav__mobile__logo {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}

.nav__mobile__curtain a {
    margin: 5px;
}

.social {
    display: none;
    margin-left: 50px;
}

.opened {
    opacity: 1;
    pointer-events: all;
}

.closed {
    opacity: 0;
    pointer-events: none;
}

.geo {
    background: #f0f4f8;
    margin-bottom: 50px;
}

.minimap {
    margin: auto;
}

.minimap > h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #505050;
    margin-top: 20px;
    margin-left: 15px;
}

.geo-cards {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.geo-card {
    width: 270px;
    height: 284px;
    background-color: #ffffff;
    border: solid 1px #e6e9ed;
    margin: 15px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.geo-card > * {
    margin: 0 30px;
}

.geo-map-large {
    background-image: url("http://kody.agency/taltekSrc/mother-russia.png");
    width: 100%;
    display: none;
    background-size: 1680px;
    height: 896px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.geo-show-more {
    width: 270px;
    height: 35px;
    borderRadius: 2px;
    border: solid 1px #e6e9ed;
    margin: 35px auto 50px auto;
    background: transparent;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #787e90;
}

.marker-tooltip {
    position: absolute;
}

.lang-social-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.geo-card-heading {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.05;
    color: #505050;
    margin: 0 0 0 30px;
}

.geo-card-text {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #505050;
}

.geo-cards .geo-card a.geo-card-link {
    opacity: 0.5;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #787e90;
    display: block;
}

.other-news-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.page-element__row.other-news-cards {
    justify-content: center;
}

.newsblock-normal {
    display: none;
}

.marker-tooltip {
    display: none;
}

.ant-list-item-meta-content{
    align-self: center;
}

.ant-avatar.ant-avatar-circle,
.ant-avatar.ant-avatar-circle.ant-avatar-image{
    width:200px;
    height:auto;
    min-height: 130px;
    border-radius: 0;
}

.prevArrow {
    top:40%;
    left: 10px;
}

.nextArrow {
    top: 40%;
    right:10px;
    transform: scaleX(-1);
}

@media screen and (min-width: 768px) {
    .newsblock-normal {
        display: block;
        margin-top: 50px;
    }

    .newsblock-mobile {
        display: none;
    }

    .geo-card {
        width: 330px;
        height: 220px;
        background-color: #ffffff;
        border: solid 1px #e6e9ed;
        margin: 15px;
    }

    .geo-cards .geo-card a.geo-card-link {
        margin-top: 15px;
    }

    .nav__mobile {
        height: 100px;
    }

    .nav__mobile__curtain {
        top: 90px;
    }

    .nav__mobile__curtain.opened {
        top: 100px;
    }

    .app-container__header {
        height: 100px;
    }

    .carousel-wrapper__description a {
        bottom: -40px;
    }

    .carousel-wrapper__description h1 {
        font-family: 'Noto Sans', sans-serif;
        font-size: 28px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: #ffffff;
    }

    .carousel-wrapper__controls {
        right: 140px;
        bottom: 20px;
    }

    .main-page-content {
        width: 720px;
        margin-bottom: 100px;
    }

    .card, .news-item--image,.news-item--no-image {
        width: 330px;
        height: 280px;
    }

    .all-news-container {
        max-width: 768px;
        padding: 0 40px;
    }

    .news-date {
        font-family: "Noto Sans";
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.78;
        letter-spacing: 0.1px;
        color: #3c58a6;
    }

    .news-open {
        display: block;
        margin-left: auto;
    }

    .carousel-wrapper {
        width: 768px;
        height: 600px;
    }

    .carousel-wrapper__description {
        width: 490px;
        height: 250px;
    }
}

@media screen and (min-width: 1024px) {
    .marker-tooltip {
        display: block;
    }

    .geo-map-large {
        display: block;
    }
    .other-news-container {
        display: block;
    }

    .other-news-cards {
        justify-content: flex-start;
    }

    .minimap.main-page-content {
        display: none;
    }

    .nav__mobile {
        display: none;
    }

    .social {
        display: flex;
    }

    .app-container__main-menu {
        display: flex;
    }

    .carousel-wrapper__controls {
        right: 150px;
        bottom: 20px;
    }

    .main-page-content {
        width: 960px;
        margin-bottom: 100px;
    }

    .card, .news-item--image,.news-item--no-image {
        width: 450px;
        height: 280px;
    }

    .all-news-container {
        max-width: 1024px;
        padding: 0 47px;
    }

    .news-heading-container {
        margin: 0 auto 0 15px;
    }

    .tags {
        order: initial;
        margin-left: auto;
    }

    .news-open {
        margin: 0;
    }

    .map {
        display: flex;
        background: #f0f4f8;
        margin-bottom: 80px;
    }
    .map-overlay {
        display: flex;
    }

    .carousel-wrapper {
        width: 1024px;
        height: 600px;
    }

    .carousel-wrapper__description {
        width: 500px;
        height: 250px;
    }
}

@media screen and (min-width: 1440px) {


    .carousel-wrapper__controls {
        right: 175px;
        bottom: 30px;
    }

    .card.expand{
        width: 850px;
    }

    .main-page-content {
        width: 1320px;
        margin-bottom: 120px;
    }

    .carousel-wrapper {
        width: 1440px;
        height: 600px;
    }

    .carousel-wrapper__description {
        position: absolute;
        bottom:0;
        right:0;
        width: 825px;
        height: 250px;
        background-color: #004c89;
    }

    .all-news-container {
        max-width: 1440px;
        padding: 0 75px;
    }

    .card, .news-item--image,.news-item--no-image {
        width: 410px;
        height: 280px;
    }

}

@media screen and (min-width: 1680px) {

    .carousel-wrapper__controls {
        right: 200px;
        bottom: 30px;
    }

    .card.expand{
        width: 850px;
    }

    .main-page-content {
        width: 1320px;
        margin-bottom: 120px;
    }

    .carousel-wrapper {
        width: 1680px;
        height: 600px;
    }

    .carousel-wrapper__description {
        position: absolute;
        bottom:0;
        right:0;
        width: 825px;
        height: 250px;
        background-color: #004c89;
    }

}

