<script src="/static/js/my.js"></script>
<script src="/static/js/slider.js"></script>
<script src="/static/js/jump.js"></script>

<script src="/static/js/testInner.js"></script>

<script src="/static/js/adaptive.js"></script>

</body>
</html>
