<footer id="footer" class="dark">

  <div id="copyrightTaltekFooter">
    <p>© 2018 <%- lang === "ru" ? `АО "Талтэк"` : `TALTEK JSC` %></p>
  </div>

  <div id="socialFooter">
    <% social.forEach( function (item, idx) {%>
      <%- `<a id='${item.title === 'fb' ? (item.title === "ok" ? 'okSocialIcon':'vkSocialIcon') : 'facebookSocialIcon'}' class='socialIcon' href='${item.link}' target='_blank'></a>` %>
    <%});%>
  </div>

  <div id="madeKodyFooter">
    <p>
    <% if(lang === 'ru') { %>
      <span>Сделано в </span><a href="http://whiteproduct.ru" target="_blank">White Product</a>
    <% } else { %>
      <span>Site by </span><a href="http://whiteproduct.ru" target="_blank">White Product</a>
    <% } %>
    </p>
  </div>

</footer>