<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Taltek</title>

    <meta name="author" content="Mikhail Skvortsov" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="theme-color" content="#317EFB"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/internal.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" />

    <script src="/static/js/jquery-3.3.1.min.js"></script>

    <script
      defer src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey="
      type="text/javascript"
    ></script>
    <script defer src="/static/js/maps.js" type="text/javascript"></script>
    <script src="/static/js/load.js"></script>
    <script src="/static/js/moment-with-locales.js"></script>

  </head>
</html>
