<%- include('head') %>

<body class="front">

	<!-- Header -->
	<header id="header" class="dark closeMenu">

		<div id="logoTaltekHeader">
			<a href="/">
			<% if(lang === 'ru') {%>
				<svg width="350px" height="50px" viewBox="0 0 350 50">
				    <g id="Logotype-White-Rus-Copy-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="Logotype-White-Rus" transform="translate(10.000000, 4.000000)" fill="#FFFFFF">
				            <g id="Pic">
				                <polygon id="Fill-28" points="0.3321 33.7146 19.4657 14.5818 19.466 24.1485 29.0326 24.1485 29.0309 33.7146"></polygon>
				                <polygon id="Fill-29" points="67.3003 33.7146 48.1671 14.5818 48.1668 24.1485 38.5998 24.1485 38.6021 33.7146"></polygon>
				                <polygon id="Fill-30" points="19.4654 14.581 33.8167 0.23 48.1665 14.5824"></polygon>
				            </g>
				            <path d="M114.3061,25.6602 L121.1175,25.6602 L117.712,19.0895 L114.3061,25.6602 Z M123.0995,29.4365 L112.2748,29.4365 L110.0689,33.7103 L105.7452,33.7103 L115.7422,14.5827 L119.7308,14.5827 L129.728,33.7103 L125.3049,33.7103 L123.0995,29.4365 Z M209.6727,21.6319 L211.219,21.6319 L222.917,14.5827 L229.9143,14.5827 L215.2521,23.4755 L229.2941,33.7103 L222.72,33.7103 L211.2454,25.4082 L209.6727,25.4082 L209.6727,33.7103 L205.8128,33.7103 L205.8128,14.5827 L209.6727,14.5827 L209.6727,21.6319 Z M198.6383,25.752 L185.8435,25.752 L185.8435,21.9757 L198.6383,21.9757 L198.6383,21.6577 C198.6383,20.9022 198.5643,19.4194 197.9778,18.8417 C197.3868,18.2595 195.8597,18.1869 195.0907,18.1869 L187.5568,18.1869 C186.7543,18.1869 185.3744,18.2623 184.717,18.7916 C184.2618,19.1581 184.1583,19.7502 184.1583,20.3024 L184.1583,20.6451 L180.2984,20.6451 L180.2984,20.3024 C180.2984,15.9158 183.5866,14.4103 187.5817,14.4103 L195.1157,14.4103 C197.0477,14.4103 199.3243,14.717 200.7566,16.1361 C202.1816,17.5486 202.4976,19.7704 202.4976,21.6778 L202.4976,26.6393 C202.4976,28.5249 202.1802,30.7206 200.7436,32.0954 C199.3055,33.4716 197.0251,33.7593 195.1157,33.7593 L187.5817,33.7593 C185.7718,33.7593 183.5707,33.5201 182.1239,32.3315 C180.7624,31.2124 180.2984,29.5683 180.2984,27.8678 L180.2984,27.5248 L184.1583,27.5248 L184.1583,27.8678 C184.1583,28.4418 184.2624,29.0734 184.7562,29.4374 C185.407,29.917 186.7832,29.9833 187.5568,29.9833 L195.0907,29.9833 C195.8748,29.9833 197.3596,29.9096 197.9738,29.3373 C198.5626,28.7882 198.6383,27.3573 198.6383,26.6231 L198.6383,25.752 Z M169.6724,18.3587 L169.6724,33.7103 L165.8128,33.7103 L165.8128,18.3587 L157.4608,18.3587 L157.4608,14.5827 L178.074,14.5827 L178.074,18.3587 L169.6724,18.3587 Z M150.4371,18.408 L138.4848,18.408 L138.4848,28.6456 C138.4848,30.0505 138.1926,31.5446 137.1174,32.5467 C136.1525,33.4464 134.8157,33.7103 133.5318,33.7103 L131.7752,33.7103 L131.7752,29.9343 L133.7549,29.9343 C133.95,29.9343 134.1626,29.9056 134.3105,29.7682 C134.5815,29.5179 134.6254,28.9886 134.6254,28.6496 L134.6254,14.5827 L154.2965,14.5827 L154.2965,33.7103 L150.4371,33.7103 L150.4371,18.408 Z M98.706,18.3587 L98.706,33.7103 L94.846,33.7103 L94.846,18.3587 L86.494,18.3587 L86.494,14.5827 L107.1073,14.5827 L107.1073,18.3587 L98.706,18.3587 Z" id="Text"></path>
				        </g>
				        <g id="Group" transform="translate(248.000000, 16.000000)" fill="#FFFFFF" fill-opacity="0.5">
				            <path d="M13.0804364,1.97214545 L13.0804364,10.0461818 L13.9167273,10.0461818 L13.9167273,2.78552727 L19.9924364,2.78552727 L19.9924364,1.97214545 L13.0804364,1.97214545 Z M21.3283636,10.0461818 L21.3283636,1.97214545 L26.7654545,1.97214545 C27.7721455,1.97214545 28.4965091,2.16196364 28.9374545,2.54356364 C29.3790545,2.92276364 29.5998545,3.564 29.5998545,4.464 C29.5998545,5.34087273 29.3882182,5.9352 28.9664727,6.24567273 C28.5447273,6.5568 27.8142545,6.71214545 26.7770182,6.71214545 L22.1646545,6.71214545 L22.1646545,10.0461818 L21.3283636,10.0461818 Z M22.1646545,5.89876364 L27.0207273,5.89876364 C27.7023273,5.89876364 28.1550545,5.81345455 28.3802182,5.64349091 C28.6354909,5.448 28.7629091,5.05461818 28.7629091,4.464 C28.7629091,3.85047273 28.6374545,3.41694545 28.3856727,3.16516364 C28.1341091,2.91163636 27.7060364,2.78552727 27.1018909,2.78552727 L22.1646545,2.78552727 L22.1646545,5.89876364 Z M38.0912727,1.97214545 L39.0907636,1.97214545 L35.6286545,7.72276364 C35.0404364,8.70610909 34.5698182,9.33927273 34.2172364,9.62203636 C33.8646545,9.90458182 33.3595636,10.0461818 32.7013091,10.0461818 L32.4224727,10.0461818 L32.4224727,9.23301818 L32.7130909,9.23301818 C33.1466182,9.23301818 33.4546909,9.17476364 33.6364364,9.05847273 C33.8184,8.9424 34.0291636,8.68690909 34.2698182,8.29156364 L30.1688727,1.97214545 L31.1330182,1.97214545 L34.7461091,7.6416 L38.0912727,1.97214545 Z M40.0197818,10.0461818 L40.0197818,1.97214545 L48.8489455,1.97214545 L48.8489455,10.0461818 L48.0122182,10.0461818 L48.0122182,2.80887273 L40.8565091,2.80887273 L40.8565091,10.0461818 L40.0197818,10.0461818 Z M50.2424727,10.0461818 L50.2424727,1.97214545 L59.0716364,1.97214545 L59.0716364,10.0461818 L58.2349091,10.0461818 L58.2349091,2.80887273 L51.0792,2.80887273 L51.0792,10.0461818 L50.2424727,10.0461818 Z M60.6975273,10.0461818 L59.7687273,10.0461818 L63.9501818,1.97214545 L65.2285091,1.97214545 L69.4099636,10.0461818 L68.4346909,10.0461818 L67.4005091,8.02450909 L61.7317091,8.02450909 L60.6975273,10.0461818 Z M62.1844364,7.21178182 L66.9706909,7.21178182 L64.5778909,2.55294545 L62.1844364,7.21178182 Z M12.8714182,22.7897455 L12.8714182,14.7157091 L13.7077091,14.7157091 L13.7077091,18.0499636 L15.0552,18.0499636 L20.5385455,14.7157091 L21.9560727,14.7157091 L15.9384,18.3979636 L21.9091636,22.7897455 L20.4687273,22.7897455 L15.0898909,18.8631273 L13.7077091,18.8631273 L13.7077091,22.7897455 L12.8714182,22.7897455 Z M31.3191273,17.4456 C31.3191273,16.6483636 31.1775273,16.116 30.8947636,15.8487273 C30.6122182,15.5814545 30.0606545,15.4479273 29.2392,15.4479273 L25.7077091,15.4479273 C24.9259636,15.4479273 24.3717818,15.5888727 24.0464727,15.8716364 C23.7211636,16.1541818 23.5592727,16.6793455 23.5592727,17.4456 L23.5592727,20.0247273 C23.5592727,20.7916364 23.7137455,21.3085091 24.0237818,21.5757818 C24.3336,21.8428364 24.8952,21.9765818 25.7077091,21.9765818 L29.2392,21.9765818 C30.0833455,21.9765818 30.6412364,21.8485091 30.9122182,21.5930182 C31.1836364,21.3375273 31.3191273,20.8149818 31.3191273,20.0247273 L31.3191273,17.4456 Z M32.1552,20.0247273 C32.1552,21.1396364 31.9381091,21.8873455 31.5045818,22.2665455 C31.1094545,22.6154182 30.3586909,22.7897455 29.2509818,22.7897455 L25.7194909,22.7897455 C24.6198545,22.7897455 23.8455273,22.5864 23.3958545,22.1792727 C22.9468364,21.7730182 22.7223273,21.0543273 22.7223273,20.0247273 L22.7223273,17.5154182 C22.7223273,16.4703273 22.9413818,15.7287273 23.3786182,15.2908364 C23.8165091,14.8529455 24.5962909,14.6347636 25.7194909,14.6347636 L29.2509818,14.6347636 C30.2886545,14.6347636 31.0167273,14.8202182 31.4347636,15.192 C31.9154182,15.6181091 32.1552,16.3924364 32.1552,17.5154182 L32.1552,20.0247273 Z M45.1195636,14.7157091 L43.3304727,14.7157091 L39.2646545,21.6048 L35.1752727,14.7157091 L33.3866182,14.7157091 L33.3866182,22.7897455 L34.2229091,22.7897455 L34.2229091,15.3663273 L34.6989818,15.3663273 L39.0438545,22.7897455 L39.4736727,22.7897455 L43.8183273,15.3663273 L44.2828364,15.3663273 L44.2828364,22.7897455 L45.1195636,22.7897455 L45.1195636,14.7157091 Z M46.6064727,22.7897455 L46.6064727,14.7157091 L55.4349818,14.7157091 L55.4349818,22.7897455 L54.5989091,22.7897455 L54.5989091,15.5524364 L47.4425455,15.5524364 L47.4425455,22.7897455 L46.6064727,22.7897455 Z M57.0615273,22.7897455 L56.1320727,22.7897455 L60.3141818,14.7157091 L61.5918545,14.7157091 L65.7739636,22.7897455 L64.7986909,22.7897455 L63.7645091,20.7680727 L58.0957091,20.7680727 L57.0615273,22.7897455 Z M58.5484364,19.9553455 L63.3346909,19.9553455 L60.9418909,15.2965091 L58.5484364,19.9553455 Z M66.6571636,22.7897455 L66.6571636,14.7157091 L67.4932364,14.7157091 L67.4932364,18.2125091 L74.6496,18.2125091 L74.6496,14.7157091 L75.4858909,14.7157091 L75.4858909,22.7897455 L74.6496,22.7897455 L74.6496,19.0485818 L67.4932364,19.0485818 L67.4932364,22.7897455 L66.6571636,22.7897455 Z M85.6621091,22.7897455 L85.6621091,14.7157091 L84.0473455,14.7157091 L77.6696727,22.1620364 L77.5996364,22.1620364 L77.5996364,14.7157091 L76.7635636,14.7157091 L76.7635636,22.7897455 L78.1224,22.7897455 L84.5116364,15.3427636 L84.8258182,15.3427636 L84.8258182,22.7897455 L85.6621091,22.7897455 Z M95.8848,22.7897455 L95.8848,14.7157091 L94.2698182,14.7157091 L87.8923636,22.1620364 L87.8223273,22.1620364 L87.8223273,14.7157091 L86.9862545,14.7157091 L86.9862545,22.7897455 L88.3455273,22.7897455 L94.7343273,15.3427636 L95.0485091,15.3427636 L95.0485091,22.7897455 L95.8848,22.7897455 Z M91.6215273,14.4368727 C92.3805818,14.4368727 92.9648727,14.2704 93.3757091,13.9376727 C93.8170909,13.5813818 94.0374545,13.1053091 94.0374545,12.5083636 L93.2011636,12.5083636 C93.2011636,12.78 93.1158545,13.0197818 92.9456727,13.2288 C92.6749091,13.5696 92.2296,13.7397818 91.6099636,13.7397818 L90.6920727,13.7397818 C90.0724364,13.7397818 89.6271273,13.5733091 89.3561455,13.2405818 C89.1855273,13.0315636 89.1006545,12.7874182 89.1006545,12.5083636 L88.2639273,12.5083636 C88.2639273,12.9344727 88.4037818,13.3180364 88.6819636,13.6588364 C89.1080727,14.1776727 89.7741818,14.4368727 90.6802909,14.4368727 L91.6215273,14.4368727 Z" id="Fill-13"></path>
				            <polygon id="Fill-20" points="2.68581818 2.00378182 1.84407273 2.00378182 1.84407273 22.7965091 2.68581818 22.7965091"></polygon>
				        </g>
				    </g>
				</svg>
				<% } else { %>
					<svg width="350px" height="50px" viewBox="0 0 350 50">
						<g id="Logotype-White-Eng" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Logotype-White-Eng" transform="translate(10.000000, 4.000000)" fill="#FFFFFF">
								<g id="Pic">
									<polygon id="Fill-28" points="0.3321 33.7146 19.4657 14.5818 19.466 24.1485 29.0326 24.1485 29.0309 33.7146"></polygon>
									<polygon id="Fill-29" points="67.3003 33.7146 48.1671 14.5818 48.1668 24.1485 38.5998 24.1485 38.6021 33.7146"></polygon>
									<polygon id="Fill-30" points="19.4654 14.581 33.8167 0.23 48.1665 14.5824"></polygon>
								</g>
								<path d="M114.7596,14 L104.8596,33.11 L109.1406,33.11 L111.3256,28.839 L122.0446,28.839 L124.2286,33.11 L128.6066,33.11 L118.7086,14 L114.7596,14 Z M116.7096,18.503 L120.0816,25.067 L113.3366,25.067 L116.7096,18.503 Z M205.4967,14 L212.2537,14 L198.6707,23.202 L212.3737,33.11 L205.7717,33.11 L194.7777,25.085 L193.2207,25.085 L193.2207,33.11 L189.3997,33.11 L189.3997,14 L193.2207,14 L193.2207,21.312 L194.7247,21.312 L205.4967,14 Z M169.0215,14 L186.1685,14 L186.1685,17.772 L172.8435,17.772 L172.8435,21.386 L185.8245,21.386 L185.8245,25.159 L172.8435,25.159 L172.8435,29.338 L186.1685,29.338 L186.1685,33.11 L169.0215,33.11 L169.0215,14 Z M145.455,14 L165.866,14 L165.866,17.772 L157.547,17.772 L157.547,33.11 L153.725,33.11 L153.725,17.772 L145.455,17.772 L145.455,14 Z M130.9524,14 L134.7744,14 L134.7744,29.338 L147.6084,29.338 L147.6084,33.11 L130.9524,33.11 L130.9524,14 Z M87,14 L107.411,14 L107.411,17.772 L99.091,17.772 L99.091,33.11 L95.27,33.11 L95.27,17.772 L87,17.772 L87,14 Z" id="Combined-Shape"></path>
								<g id="Group-4" transform="translate(222.000000, 13.000000)" fill-opacity="0.5">
									<path d="M18.7917375,8.18546264 L15.1320759,8.18546264 C14.0095629,8.18546264 13.2086636,7.95596163 12.729378,7.49761785 C12.2916583,7.06977182 12.0717535,6.37446715 12.0717535,5.41038741 L12.0717535,2.96179162 C12.0717535,1.88888541 12.3035011,1.12710005 12.7669963,0.676216148 C13.2302593,0.225112839 14.0214057,0 15.1404355,0 L18.8082245,0 C20.8059446,0 21.8044564,0.769464644 21.8044564,2.30883275 L20.9415565,2.30883275 C20.9415565,1.82679288 20.7894576,1.46476931 20.4861887,1.22407849 C20.1425149,0.952231695 19.5789363,0.815979188 18.7956851,0.815979188 L15.1285927,0.815979188 C14.273588,0.815979188 13.6944512,0.967151454 13.3902534,1.27059303 C13.0867523,1.57425401 12.9353501,2.13769433 12.9353501,2.96179162 L12.9353501,5.41038741 C12.9353501,6.16405466 13.0927898,6.67922518 13.4106881,6.95524072 C13.726032,7.23147568 14.3012212,7.36882523 15.1346302,7.36882523 L18.814262,7.36882523 C19.6309518,7.36882523 20.1805976,7.25253887 20.4604131,7.01930792 C20.7815624,6.75492101 20.9415565,6.22263666 20.9415565,5.42223546 L20.9415565,5.15346038 L16.8302425,5.15346038 L16.8302425,4.33748119 L21.8044564,4.33748119 L21.8044564,4.96696339 C21.8044564,6.2344847 21.5984843,7.08710507 21.1890945,7.52679915 C20.7776148,7.96583501 19.9785732,8.18546264 18.7917375,8.18546264 Z M23.9377883,0.920636911 L23.9377883,4.04588766 L29.3313771,4.04588766 C29.9067985,4.04588766 30.3384807,3.91775326 30.6261914,3.66148445 C30.9454829,3.37340145 31.105477,2.91066951 31.105477,2.27328862 C31.105477,1.87703736 30.9515205,1.5525326 30.6440717,1.29999373 C30.336623,1.04745486 29.9186413,0.920636911 29.3912878,0.920636911 L23.9377883,0.920636911 Z M23.9377883,4.86252508 L23.9377883,8.18546264 L23.0748884,8.18546264 L23.0748884,0.104657723 L29.0682809,0.104657723 C30.0746878,0.104657723 30.8217139,0.322310682 31.3095914,0.7576166 C31.7484722,1.14640797 31.9683769,1.70238842 31.9683769,2.42511911 C31.9683769,2.9692515 31.8446079,3.40455742 31.5970699,3.73103686 C31.437308,3.94868982 31.1693353,4.16283225 30.7940807,4.3723671 C31.0896866,4.43445963 31.3293294,4.61744609 31.5127769,4.92022944 C31.7287341,5.27040496 31.8367127,5.72874875 31.8367127,6.29657723 L31.8367127,8.18546264 L30.9738128,8.18546264 L30.9738128,6.20332874 C30.9738128,5.71317076 30.8697818,5.3673834 30.6617198,5.16530843 C30.4543545,4.96323345 30.1227557,4.86252508 29.6671557,4.86252508 L23.9377883,4.86252508 Z M42.1086119,2.82180918 C42.1086119,2.02074975 41.963015,1.48649072 41.6708922,1.21837387 C41.3799305,0.949818205 40.80985,0.815979188 39.9634372,0.815979188 L36.3193338,0.815979188 C35.512397,0.815979188 34.9409231,0.957936309 34.6053768,1.24141174 C34.2702948,1.52576479 34.1024055,2.05190572 34.1024055,2.82180918 L34.1024055,5.41038741 C34.1024055,6.17963265 34.261703,6.69897192 34.5816911,6.96708877 C34.9014471,7.23520562 35.4801195,7.36882523 36.3193338,7.36882523 L39.9634372,7.36882523 C40.8342323,7.36882523 41.4094215,7.24069082 41.689237,6.98442202 C41.9690525,6.72771439 42.1086119,6.20332874 42.1086119,5.41038741 L42.1086119,2.82180918 Z M42.9715118,5.41038741 C42.9715118,6.52980817 42.7476594,7.27996489 42.3001868,7.66063816 C41.8926547,8.01015547 41.1179954,8.18546264 39.97528,8.18546264 L36.3311766,8.18546264 C35.197053,8.18546264 34.3973148,7.98141299 33.9345162,7.57287487 C33.4712532,7.16477558 33.2395056,6.44401956 33.2395056,5.41038741 L33.2395056,2.89158099 C33.2395056,1.84237086 33.4652157,1.09769935 33.9161715,0.65866349 C34.3675916,0.219627633 35.1726708,0 36.3311766,0 L39.97528,0 C41.0455452,0 41.7972156,0.186058175 42.2284333,0.559271565 C42.7239738,0.987117603 42.9715118,1.76448094 42.9715118,2.89158099 L42.9715118,5.41038741 Z M44.2663261,0.0816198596 L45.129226,0.0816198596 L45.129226,5.73511158 C45.129226,6.31039995 45.2766806,6.71827984 45.5722865,6.96094534 C45.9078329,7.23323094 46.5029924,7.36882523 47.3579971,7.36882523 L51.0139433,7.36882523 C51.764917,7.36882523 52.30272,7.23147568 52.6266558,6.95524072 C52.9496628,6.6772505 53.1117468,6.25554789 53.1117468,5.68837763 L53.1117468,0.0816198596 L53.9746467,0.0816198596 L53.9746467,5.38296138 C53.9746467,6.47320085 53.7310562,7.22335757 53.243411,7.6376003 C52.8036014,8.00269559 52.0565753,8.18546264 51.0021005,8.18546264 L47.3579971,8.18546264 C46.2633496,8.18546264 45.4847426,7.99523571 45.0212474,7.61390421 C44.5178117,7.1922016 44.2663261,6.45762287 44.2663261,5.40599925 L44.2663261,0.0816198596 Z M55.3412145,8.18546264 L55.3412145,0.0816198596 L60.9507605,0.0816198596 C61.9894449,0.0816198596 62.736471,0.27184679 63.1918388,0.654275326 C63.6467422,1.03560682 63.8745422,1.67869233 63.8745422,2.5824348 C63.8745422,3.46313942 63.6574239,4.05949097 63.2215619,4.37039243 C62.7859322,4.68326856 62.0328686,4.83882899 60.9626033,4.83882899 L56.2041144,4.83882899 L56.2041144,8.18546264 L55.3412145,8.18546264 Z M56.2041144,4.0228498 L61.2138567,4.0228498 C61.9169948,4.0228498 62.3842054,3.93706118 62.615953,3.76592277 C62.879978,3.569333 63.0116423,3.17505642 63.0116423,2.5824348 C63.0116423,1.96655592 62.8818357,1.53125 62.6226871,1.27871113 C62.3626096,1.02375878 61.9209424,0.897599047 61.2974531,0.897599047 L56.2041144,0.897599047 L56.2041144,4.0228498 Z M77.6586483,2.82180918 C77.6586483,2.02074975 77.5125869,1.48649072 77.2209286,1.21837387 C76.9295025,0.949818205 76.3601186,0.815979188 75.5127769,0.815979188 L71.8696024,0.815979188 C71.0624334,0.815979188 70.4911918,0.957936309 70.1554132,1.24141174 C69.8198668,1.52576479 69.6519775,2.05190572 69.6519775,2.82180918 L69.6519775,5.41038741 C69.6519775,6.17963265 69.8119716,6.69897192 70.1310309,6.96708877 C70.4510191,7.23520562 71.0301559,7.36882523 71.8696024,7.36882523 L75.5127769,7.36882523 C76.3838043,7.36882523 76.9596901,7.24069082 77.2395056,6.98442202 C77.5186245,6.72771439 77.6586483,6.20332874 77.6586483,5.41038741 L77.6586483,2.82180918 Z M78.5217804,5.41038741 C78.5217804,6.52980817 78.297928,7.27996489 77.8502232,7.66063816 C77.4429233,8.01015547 76.6673352,8.18546264 75.5253164,8.18546264 L71.8814452,8.18546264 C70.746625,8.18546264 69.9473512,7.98141299 69.4840882,7.57287487 C69.020593,7.16477558 68.7888454,6.44401956 68.7888454,5.41038741 L68.7888454,2.89158099 C68.7888454,1.84237086 69.0147877,1.09769935 69.4662079,0.65866349 C69.9178603,0.219627633 70.7229394,0 71.8814452,0 L75.5253164,0 C76.5955816,0 77.3467876,0.186058175 77.7784697,0.559271565 C78.2742424,0.987117603 78.5217804,1.76448094 78.5217804,2.89158099 L78.5217804,5.41038741 Z M79.8156659,8.18546264 L79.8156659,0.0816198596 L87.187469,0.0816198596 L87.187469,0.897599047 L80.678798,0.897599047 L80.678798,3.59127382 L87.0195797,3.59127382 L87.0195797,4.40725301 L80.678798,4.40725301 L80.678798,8.18546264 L79.8156659,8.18546264 Z M18.7120887,21 L15.068682,21 C13.941757,21 13.1487529,20.7843217 12.6892053,20.3525263 C12.2298899,19.9216086 12,19.1734265 12,18.1086384 L12,15.7532911 C12,14.6878448 12.2338375,13.9278147 12.7010481,13.4732009 C13.1684909,13.018587 13.9575474,12.7910607 15.068682,12.7910607 L18.7120887,12.7910607 C20.7255993,12.7910607 21.7327028,13.5609641 21.7327028,15.099674 L20.8698029,15.099674 C20.8698029,14.6101743 20.7216517,14.2488089 20.426278,14.015578 C20.0826042,13.743073 19.5150779,13.6076981 18.7239316,13.6076981 L15.0805248,13.6076981 C14.2334153,13.6076981 13.6521886,13.7568957 13.3368447,14.0566073 C13.0210363,14.3558801 12.8628999,14.9210757 12.8628999,15.7532911 L12.8628999,18.1086384 C12.8628999,18.9090396 13.0210363,19.4551467 13.3368447,19.7467402 C13.6521886,20.0378949 14.2334153,20.1840208 15.0805248,20.1840208 L18.7239316,20.1840208 C19.4992875,20.1840208 20.0503267,20.065321 20.3782101,19.8283601 C20.7058612,19.5913992 20.8698029,19.2120424 20.8698029,18.6913867 L21.7327028,18.6913867 C21.7327028,19.46875 21.4990975,20.0477683 21.0316547,20.4284416 C20.5644441,20.8097731 19.7909458,21 18.7120887,21 Z M31.9203091,15.6126505 C31.9203091,14.8122492 31.7749443,14.2779902 31.483286,14.0100928 C31.1916277,13.7413177 30.6222438,13.6076981 29.7751343,13.6076981 L26.1310309,13.6076981 C25.3240941,13.6076981 24.7528525,13.7494358 24.4170739,14.0329112 C24.0812953,14.3166061 23.9141027,14.8434052 23.9141027,15.6126505 L23.9141027,18.2018869 C23.9141027,18.9713516 24.0734001,19.4900326 24.3933883,19.75793 C24.7126798,20.0267051 25.2925133,20.1603247 26.1310309,20.1603247 L29.7751343,20.1603247 C30.6459294,20.1603247 31.2213508,20.0321903 31.5009341,19.7761409 C31.7807496,19.5192139 31.9203091,18.99417 31.9203091,18.2018869 L31.9203091,15.6126505 Z M32.783209,18.2018869 C32.783209,19.3208689 32.5595888,20.0714644 32.111884,20.4521377 C31.7043519,20.801655 30.9296925,20.9769621 29.7869771,20.9769621 L26.1428737,20.9769621 C25.0087502,20.9769621 24.2097086,20.7724737 23.7464456,20.3643744 C23.2829504,19.9564945 23.0512028,19.2355191 23.0512028,18.2018869 L23.0512028,15.6830805 C23.0512028,14.6332121 23.2769128,13.8894183 23.7278686,13.450163 C24.179521,13.0104689 24.9843679,12.7910607 26.1428737,12.7910607 L29.7869771,12.7910607 C30.857939,12.7910607 31.6089127,12.9775577 32.0401305,13.3507711 C32.5359031,13.7786171 32.783209,14.5559804 32.783209,15.6830805 L32.783209,18.2018869 Z M46.1593186,12.8724611 L44.3136973,12.8724611 L40.118787,19.7873307 L35.8999588,12.8724611 L34.053641,12.8724611 L34.053641,20.9769621 L34.9165409,20.9769621 L34.9165409,13.52542 L35.408366,13.52542 L39.890987,20.9769621 L40.334512,20.9769621 L44.817133,13.52542 L45.2964187,13.52542 L45.2964187,20.9769621 L46.1593186,20.9769621 L46.1593186,12.8724611 Z M47.6220221,20.9769621 L47.6220221,12.8724611 L53.2315682,12.8724611 C54.2702526,12.8724611 55.0172787,13.0633463 55.4721821,13.4459942 C55.9282465,13.8271063 56.1560465,14.4701918 56.1560465,15.3739343 C56.1560465,16.2539807 55.9382316,16.8509905 55.5023696,17.1621113 C55.0672043,17.4747681 54.3136762,17.6303285 53.243411,17.6303285 L48.4849221,17.6303285 L48.4849221,20.9769621 L47.6220221,20.9769621 Z M48.4849221,16.8136911 L53.4946644,16.8136911 C54.1978024,16.8136911 54.6657097,16.7285607 54.8974573,16.5574223 C55.1607857,16.3610519 55.2931466,15.9665559 55.2931466,15.3739343 C55.2931466,14.7576166 55.1626434,14.3227495 54.9034948,14.0697718 C54.6434173,13.8152583 54.20175,13.6890985 53.5789574,13.6890985 L48.4849221,13.6890985 L48.4849221,16.8136911 Z M57.6905036,20.9769621 L56.7307713,20.9769621 L61.0461996,12.8724611 L62.3644673,12.8724611 L66.6791991,20.9769621 L65.6720955,20.9769621 L64.6057779,18.9476555 L58.7568212,18.9476555 L57.6905036,20.9769621 Z M59.2240318,18.1316763 L64.1622529,18.1316763 L61.6931424,13.4558676 L59.2240318,18.1316763 Z M67.4705777,20.9769621 L67.4705777,12.8724611 L69.3879524,12.8724611 L75.7886448,20.1372869 L75.7886448,12.8724611 L76.6515447,12.8724611 L76.6515447,20.9769621 L75.4050306,20.9769621 L68.8127632,13.5023821 L68.3334776,13.5023821 L68.3334776,20.9769621 L67.4705777,20.9769621 Z M79.408366,20.9769621 L78.5454661,20.9769621 L78.5454661,12.8724611 L79.408366,12.8724611 L79.408366,20.9769621 Z M81.4218765,20.9769621 L81.4218765,12.8724611 L88.7927508,12.8724611 L88.7927508,13.6890985 L82.2847764,13.6890985 L82.2847764,16.3827733 L88.6250937,16.3827733 L88.6250937,17.1987525 L82.2847764,17.1987525 L82.2847764,20.1603247 L88.7927508,20.1603247 L88.7927508,20.9769621 L81.4218765,20.9769621 Z M90.194847,15.1643994 C90.194847,14.3539055 90.4108042,13.7687437 90.8424864,13.4111083 C91.2737041,13.0514982 91.9610517,12.8724611 92.904297,12.8724611 L97.0992073,12.8724611 C98.9850012,12.8724611 99.9282465,13.6386347 99.9282465,15.1698847 L99.0653466,15.1698847 C99.0653466,14.6841148 98.9132477,14.3247242 98.6090499,14.0895186 C98.2656083,13.8227182 97.7027264,13.6890985 96.9194752,13.6890985 L92.9161398,13.6890985 C92.1728291,13.6890985 91.6693934,13.8097731 91.406065,14.0522192 C91.1743173,14.2624122 91.0577469,14.6332121 91.0577469,15.1643994 C91.0577469,15.6326166 91.1861602,15.9492227 91.44229,16.112243 C91.7457912,16.3086133 92.3288756,16.4058112 93.1917755,16.4058112 L96.9076324,16.4058112 C97.9864895,16.4058112 98.7711339,16.5749749 99.2627268,16.9133024 C99.7538552,17.2516299 100,17.7896189 100,18.5277081 L100,18.6913867 C100,19.5310619 99.7879904,20.1219283 99.3642035,20.4639857 C98.9408809,20.8060431 98.2419227,20.9769621 97.2670966,20.9769621 L92.9760505,20.9769621 C92.1208136,20.9769621 91.4620281,20.7898069 90.9985328,20.4172518 C90.5108876,20.0205617 90.2672972,19.437594 90.2672972,18.6683488 L91.1301971,18.6683488 C91.1301971,19.1578485 91.2783483,19.5192139 91.5739543,19.7524448 C91.9173958,20.0247304 92.4802778,20.1603247 93.263529,20.1603247 L97.1953431,20.1603247 C97.850181,20.1603247 98.3373619,20.0422831 98.6571178,19.804664 C98.977106,19.5677031 99.1371001,19.1890045 99.1371001,18.6683488 C99.1371001,18.1391362 98.9949863,17.766581 98.7112232,17.548928 C98.4274601,17.3306169 97.9021965,17.2222292 97.1354324,17.2222292 L92.9521327,17.2222292 C91.881403,17.2222292 91.1420399,17.0513102 90.73474,16.7072781 C90.3752758,16.4038365 90.194847,15.8888854 90.194847,15.1643994 Z" id="Fill-21"></path>
									<polygon id="Fill-31" points="2.0778 0 0.9222 0 0.9222 21 2.0778 21"></polygon>
								</g>
							</g>
						</g>
					</svg>
				<% } %>
			</a>
		</div>

		<div id="langHeader" class="tabBlock">
			<%- `<div class="selectLangHeader tab ${lang==='ru'? 'active':''}"><a class="langLink" data-lang="ru" href="/">Рус</a></div>` %>
			<%- `<div class="selectLangHeader tab ${lang!=='ru'? 'active':''}"><a class="langLink" data-lang="en"  href="/">Eng</a></div>` %>
		</div>

		<div id="menuBarHeader">

			<div id="textMenuBarHeader">
				<div class="linkMenuBarHeader"><%- lang === 'ru' ? 'Меню': 'Menu' %></div>
				<div class="linkMenuBarHeader"><%- lang === 'ru' ? 'Закрыть': 'Close' %></div>
				<div class="linkMenuBarHeader"><%- lang === 'ru' ? 'Закрыть карту': 'Close map' %></div>
			</div>

			<div id="iconMenuBarHeader">
				<div class="lineMenuBarHeader"></div>
				<div class="lineMenuBarHeader"></div>
			</div>

		</div>

	</header>

	<!-- Hello -->
	<section id="hello" class="fullpage">

		<div id="bigSlider" class="dark">

			<div id="stageBigSlider">

            <% slider.content.slides.forEach(function(slide, idx){ %>
                <%- `<div id="slideBigSlider-${idx}"class="slideBigSlider ${ idx=== 0 ? 'showBigSlider' : 'hiddenBigSlider'}" data-control-slide="${idx}">` %>
                <div class="contentSlideBigSlider show">
					<% console.log(slide); %>
                    <div class="textSlideBigSlider"><h1><%- slide['text_'+lang] %></h1></div>
                    <%- `<div class="btSlideBigSlider"><a href='${slide.url}' class="jumpToPage"><span></span><span>${slide['nav_top_text_'+lang]}</span></a></div>` %>
                </div>
                <%- `<div class="photoSlideBigSlider" data-photo-slider="${slide.img.replace('.jpg','')}">` %>
                </div>
                </div>
            <% }); %>
			</div>

			<div id="controlSlideBigSlider" class="show">

				<div id="linkControlSlideBigSlider">
                    <% slider.content.slides.forEach( function(slide, idx) { %>
                        <%- `<div id="linkControlSlideBigSlider-${idx}" class="linkControlSlideBigSlider goControl ${ idx === 0 ? 'active' : ''}" data-control-slide="${idx}">${slide['nav_bot_text_'+lang]}</div>` %>
                    <% }); %>
				</div>

				<div id="navControlSlideBigSlider">
					<div id="prevNavControlSlideBigSlider" class="navControl prevNavControl goControl" data-control-slide="0"></div>
					<div id="nextNavControlSlideBigSlider" class="navControl nextNavControl goControl" data-control-slide="1"></div>
				</div>

			</div>


		</div>

	</section>

	<!-- Footer -->
	<%- include('footer') %>

	<!-- Menu -->
	<div id="menu">
		<nav id="mainMenu" class="forInternalPages dark">

			<ul>
                <% navigation.forEach(function(navObj, idx){ %>
                    <% if(navObj.children.length === 0) {%>
                    <%- `<li id="linkMainMenu-${idx}" class="linkMainMenu"><a class="jumpToPage" href='${navObj.parent.url}'>${navObj.parent['nav_name_'+lang]}</a></li>` %>
                    <%} else { %>
                        <%- `<li id="linkMainMenu-${idx}" class="linkMainMenu firstLevelMenu"><a class="linkKiller close" href='${navObj.parent.url}'>${navObj.parent['nav_name_'+lang]}</a>` %> 
                        <ul class="twoLevelMenu">
                        <% navObj.children.forEach(function(child){ %>
                            <%- `<li class="linkTwoLevelMenu"><a class="jumpToPage" href='${navObj.parent.url}${child.url}'>${child['nav_name_'+lang]}</a></li>` %>
                        <% }); %>
                        </ul>
                        </li>
                    <%} %>
                <% }) %>
			</ul>

		</nav>
	</div>

	<!-- Contacts Modal -->
	<div id="menuModal" class="modal modalFullPage dark close">

		<div id="contactsMenuModal" class="mapsContactsMenuModal">

			<div id="tabContacts" class="tabBlock">
				<div id="barnaulTabContacts" class="tab active" data-tab-name="barnaul" data-maps-name="Barnaul"><a href="/">
				<%- lang === 'ru' ? 'Центральный офис' : 'Head office' %>
				</a></div>
				<div id="moscowTabContacts" class="tab" data-tab-name="moscow" data-maps-name="Moscow"><a href="/">
				<%- lang === 'ru' ? 'Филиал в Москве' : 'Moscow office' %>
				</a></div>
			</div>

			<div id="contentContactsMenuModal">

				<div id="barnaulContactsMenuModal" class="contentContactsMenuModal show">
					<% if(lang === "ru") { %>
						<p class="adress"><span class="infoRow">адрес офиса</span><span class="linkToMap" data-maps-name="Barnaul">656016, Барнаул,</br> улица Фурманова, 18Г</span></p>

						<div class="phoneBlock">
							<p class="phone"><span class="infoRow">телефон</span>+7 (3852) 38 66 01</p>
							<p class="phone"><span class="infoRow">факс</span>+7 (3852) 38 66 05</p>
						</div>

						<p><span class="infoRow">почта</span><a class="mail" href="mailto:info@taltek.net">info@taltek.net</a><p>
					<% } else { %>
						<p class="adress"><span class="infoRow">adress</span><span class="linkToMap" data-maps-name="Barnaul">Ulitsa Furmanova, 18G,<br> Barnaul, Altai Krai,<br> 656016, Russia</span></p>

						<div class="phoneBlock">
							<p class="phone"><span class="infoRow">phone</span>+7 (3852) 38 66 01</p>
							<p class="phone"><span class="infoRow">fax</span>+7 (3852) 38 66 05</p>
						</div>

						<p><span class="infoRow">e-mail</span><a class="mail" href="mailto:info@taltek.net">info@taltek.net</a><p>
					<% } %>
				</div>

				<div id="moscowContactsMenuModal" class="contentContactsMenuModal hide">
					<% if (lang === "ru" ){ %>
					<p class="adress"><span class="infoRow">адрес офиса</span><span class="linkToMap" data-maps-name="Moscow">119034, Москва,</br> Лопухинский переулок, д. 3 стр.2</span></p>

					<div class="phoneBlock">
						<p class="phone"><span class="infoRow">телефон</span>+7 (3852) 38 66 01</p>
						<p class="phone"><span class="infoRow">факс</span>+7 (3852) 38 66 05</p>
					</div>

					<p><span class="infoRow">почта</span><a class="mail" href="mailto:info@taltek.net">info@taltek.net</a><p>
					<% } else { %>
					<p class="adress"><span class="infoRow">adress</span><span class="linkToMap" data-maps-name="Moscow">Lopukhinsky Pereulok, 3, bldg. 2,<br> Moscow, 119034, Russia </span></p>

					<div class="phoneBlock">
						<p class="phone"><span class="infoRow">phone</span>+7 (3852) 38 66 01</p>
						<p class="phone"><span class="infoRow">fax</span>+7 (3852) 38 66 05</p>
					</div>

					<p><span class="infoRow">e-mail</span><a class="mail" href="mailto:info@taltek.net">info@taltek.net</a><p>
					<% } %>


				</div>

			</div>

		</div>

		<div id="maps">
			<div id="mapsBarnaul" class="maps"></div>
			<div id="mapsMoscow" class="maps"></div>
		</div>

		<div class="backModal hide">
			<div class="filter"></div>
		</div>

	</div><!-- End Contacts Modal -->

	<!-- Internal Pages -->
	<section id="internalPages">

		<div id="jumpPageToPage">
			<div id="contentPage"></div>
		</div>

	</section>

		<div id="backPage">
		<div id="buttonBackHome">
			<div id="iconBackHome"></div>
			<div id="textBackHome">на главную</div>
		</div>
	</div>

	<div id="loadPage">
		<svg width="120px" height="20px" viewBox="0 0 128 16">
			<path fill="#ffffff" fill-opacity="0.25" d="M6.4,4.8A3.2,3.2,0,1,1,3.2,8,3.2,3.2,0,0,1,6.4,4.8Zm12.8,0A3.2,3.2,0,1,1,16,8,3.2,3.2,0,0,1,19.2,4.8ZM32,4.8A3.2,3.2,0,1,1,28.8,8,3.2,3.2,0,0,1,32,4.8Zm12.8,0A3.2,3.2,0,1,1,41.6,8,3.2,3.2,0,0,1,44.8,4.8Zm12.8,0A3.2,3.2,0,1,1,54.4,8,3.2,3.2,0,0,1,57.6,4.8Zm12.8,0A3.2,3.2,0,1,1,67.2,8,3.2,3.2,0,0,1,70.4,4.8Zm12.8,0A3.2,3.2,0,1,1,80,8,3.2,3.2,0,0,1,83.2,4.8ZM96,4.8A3.2,3.2,0,1,1,92.8,8,3.2,3.2,0,0,1,96,4.8Zm12.8,0A3.2,3.2,0,1,1,105.6,8,3.2,3.2,0,0,1,108.8,4.8Zm12.8,0A3.2,3.2,0,1,1,118.4,8,3.2,3.2,0,0,1,121.6,4.8Z"/>
			<g>
				<path fill="#ffffff" fill-opacity="1" d="M-42.7,3.84A4.16,4.16,0,0,1-38.54,8a4.16,4.16,0,0,1-4.16,4.16A4.16,4.16,0,0,1-46.86,8,4.16,4.16,0,0,1-42.7,3.84Zm12.8-.64A4.8,4.8,0,0,1-25.1,8a4.8,4.8,0,0,1-4.8,4.8A4.8,4.8,0,0,1-34.7,8,4.8,4.8,0,0,1-29.9,3.2Zm12.8-.64A5.44,5.44,0,0,1-11.66,8a5.44,5.44,0,0,1-5.44,5.44A5.44,5.44,0,0,1-22.54,8,5.44,5.44,0,0,1-17.1,2.56Z"/>
				<animateTransform attributeName="transform" type="translate" values="23 0;36 0;49 0;62 0;74.5 0;87.5 0;100 0;113 0;125.5 0;138.5 0;151.5 0;164.5 0;178 0"
					calcMode="discrete" dur="1800ms" repeatCount="indefinite"/>
			</g>
		</svg>
		<% if(lang === 'ru'){ %>
			<img src="/static/media/svg/logo.svg"/>		
		<%} else { %>
			<img src="/static/media/svg/logo-en.svg"/>		
		<% } %>
	</div>

<%- include('foot') %>
