<%= window.location.pathname %>
				<div id="slideBigSlider-0" class="slideBigSlider showBigSlider" data-control-slide="0">

					<div class="contentSlideBigSlider show">
						<div class="textSlideBigSlider"><h1>Добыча, переработка и реализация энергетических и коксующихся углей</h1></div>
						<div class="btSlideBigSlider"><a href='/inner' class="jumpToPage"><span></span><span>Подробнее о компании</span></a></div>
					</div>

					<div class="photoSlideBigSlider" data-photo-slider="/static/media/jpg/polyan2880.jpg">
						<video autoplay muted loop id="myVideo">
							<source src="/static/media/video/taltek9.mp4" type="video/mp4">
						</video>
					</div>

				</div>

				<div id="slideBigSlider-1" class="slideBigSlider hiddenBigSlider" data-control-slide="1">

					<div class="contentSlideBigSlider show">
						<div class="textSlideBigSlider"><h1>Добыча, переработка и реализация энергетических и коксующихся углей</h1></div>
						<div class="btSlideBigSlider"><a href='/inner' class="jumpToPage"><span></span><span>Подробнее об угольном дивизионе</span></a></div>
					</div>

					<div class="photoSlideBigSlider" data-photo-slider="/static/media/jpg/slide02.jpg"></div>

				</div>

				<div id="slideBigSlider-2" class="slideBigSlider hiddenBigSlider" data-control-slide="2">

					<div class="contentSlideBigSlider show">
						<div class="textSlideBigSlider"><h1>Стратегия развития и приоритетные направления в социальной политике</h1></div>
						<div class="btSlideBigSlider"><a href='/inner' class="jumpToPage"><span></span><span>Подробнее о стратегии развития</span></a></div>
					</div>

					<div class="photoSlideBigSlider" data-photo-slider="/static/media/jpg/slide03.jpg"></div>

				</div>

<div id="linkControlSlideBigSlider-0" class="linkControlSlideBigSlider goControl active" data-control-slide="0">Угольный</div>
					<div id="linkControlSlideBigSlider-1" class="linkControlSlideBigSlider goControl" data-control-slide="1">Компания</div>
					<div id="linkControlSlideBigSlider-2" class="linkControlSlideBigSlider goControl" data-control-slide="2">Машиностроение</div>
					<div id="linkControlSlideBigSlider-3" class="linkControlSlideBigSlider goControl" data-control-slide="2">Логистика</div>
					<div id="linkControlSlideBigSlider-4" class="linkControlSlideBigSlider goControl" data-control-slide="2">Развитие</div>
					<div id="linkControlSlideBigSlider-5" class="linkControlSlideBigSlider goControl" data-control-slide="2">Медиа-центр</div>

                                <% slider.content.slides.forEach(function(slide, idx){ %>				
                    <%- `<div id="slideBigSlider-${idx}"class="slideBigSlider showBigSlider" data-control-slide="${idx}">` %>
					<%- `<div class="contentSlideBigSlider show">` %>
						<%- `<div class="textSlideBigSlider"><h1>Добыча, переработка и реализация энергетических и коксующихся углей</h1></div>` %>
						<%- `<div class="btSlideBigSlider"><a href='/inner' class="jumpToPage"><span></span><span>Подробнее о компании</span></a></div>` %>
					<%- `</div>` %>

					<%- `<div class="photoSlideBigSlider" data-photo-slider="/static/media/jpg/polyan2880.jpg">` %>
						<%- `<video autoplay muted loop id="myVideo">` %>
						<%- `	<source src="/static/media/video/taltek9.mp4" type="video/mp4">` %>
						<%- `</video>` %>
					<%- `</div> ` %>
                <% }); %>

                	<li id="linkMainMenu-0" class="linkMainMenu firstLevelMenu"><a href='/'>Компания</a></li>

				<li id="linkMainMenu-0" class="linkMainMenu firstLevelMenu"><a class="linkKiller close" href='/'>Наши активы</a>
					<ul class="twoLevelMenu">
						<li class="linkTwoLevelMenu"><a href='/'>Угольный дивизион</a></li>
						<li class="linkTwoLevelMenu"><a href='/'>Машиностроение</a></li>
						<li class="linkTwoLevelMenu"><a href='/'>Логистический комплекс</a></li>
					</ul>
				</li>

				<li id="linkMainMenu-0" class="linkMainMenu firstLevelMenu"><a class="linkKiller close" href='/'>Устойчивое развитие</a>
					<ul class="twoLevelMenu">
						<li class="linkTwoLevelMenu"><a href='/'>Миссия и ценности</a></li>
						<li class="linkTwoLevelMenu"><a href='/'>Социальная политика</a></li>
						<li class="linkTwoLevelMenu"><a href='/'>Охрана труда и экология</a></li>
						<li class="linkTwoLevelMenu"><a href='/'>Стратегия развития</a></li>
					</ul>
				</li>

				<li id="linkMainMenu-0" class="linkMainMenu firstLevelMenu"><a href='/'>Медиа</a></li>
				<li id="linkMainMenu-0" class="linkMainMenu firstLevelMenu"><a href='/'>Контакты</a></li>