/*--------------------------------------------------------------------- GENEREL */
body { 
	background-color: rgba(235,235,235,1);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
    
body, .page-container {
	min-width: 375px;
}    
    
.main-page-content {
	display: block;
	}
    
.ant-layout-sider-children * {
	overflow: hidden;
    }
    
.ant-layout-content { 
	padding: 0 !important;
    }
    
.page-container {
	max-width: 1680px;
    }
    
/*--------------------------------------------------------------------- ТИПОГГРАФИКА */
p, a, span , li, h1, h2, h3, b {
	font-family: Open Sans,sans-serif;
    }

h2 { 
	font-weight: 700; opacity: 0.9;
    }
p {
	line-height: 1.7; opacity: 0.9;
    }

/*--------------------------------------------------------------------- СЛАЙДЕР */
.carousel-wrapper {
	overflow: hidden; 
    margin-bottom: 100px;
    }

.carousel-wrapper__image {
    width: 100%;
    }

.simple-carousel-wrapper__image {
	width: auto;
    background-size: cover;
    }
    
.carousel-wrapper__description {
	max-height: 230px;
}

.carousel-wrapper__description__group h1 {
	max-width: 550px;
	height: 120px;
}

.carousel-wrapper__description a {
	font-size: 14px;
    bottom: -20px;
    color: rgba(255,255,255,0.5);
    opacity: 1;
}

.carousel-wrapper__description a:hover {
	font-size: 14px;
    bottom: -20px;
    color: rgba(255,255,255,1);
}

.ant-carousel .slick-dots {
	bottom: -10px;
}

.slick-arrow, .slick-arrow:hover, .slick-arrow:active, .slick-arrow:focus {
	background-image: url(http://kody.agency/taltekSrc/arrows.svg);
	background-size: cover;
    background-repeat: no-repeat;
    content: none;
    height: 40px;
    width: 40px;
    z-index: 99;
}

.slick-next {
	transform: rotate(180deg);
	margin-top: -20px;
}

.slick-arrow:before {
    content: none;
}

 .counter-first {
 	font-style: Open-Sans,sans-serif;
 	font-size: 18px;
 	font-weight: 500;
 	padding: 20px;
 }
 
 .slick-slider {
 	width: 100%;
 }

/*--------------------------------------------------------------------- КАРТОЧКИ */
.card h1 {
	max-width: 70%; 
    text-shadow: none;
 	}

.card {
	height: 280px; 
    width: 410px; 
    border: none; 
    border-radius: 0;
    background-position: center center;
    }
    
.card a:not([href]):not([tabindex]) {
	color: white;
	}

.ant-row .card:nth-child(1):after {
	background-image: none;
    }

.page-element__card {
	width: 250px; 
    margin-right: 60px; 
    height: 290px;
    }
    
.page-element__card p:last-child { 
	font-size: 14px; 
    line-height: 1.5; 
    width: 90%; 
    }
    
.main-page-content .card:nth-child(5) {
	width: 850px;
    }
    
.main-page-content .card:nth-child(5) h1 {
	width: 45%;
    }

.card a {
	font-size: 14px; 
    font-weight: 600; 
    color: rgba(255,255,255,0.5);
    }
    
.card a:hover {
	color: rgba(255,255,255,1);
    }

.card:after {
	background-image:none; 
    background-color: rgba(0,35,60,0.35);
    }
    
.card:hover:after {
	opacity: 0.5;
    }
    
.main-page-content div:nth-child(1):after {
	opacity: 0;
    }
    
.main-page-content div:nth-child(1):hover:after {
	opacity: 0.5;
    }

/*-- ИНФОГРАФИКА НА ГЛАВНОЙ */
.infofig-heading {
	padding-left: 10px;
    }
    
.infofig {
	border-right: none;
    }
.infofig-container > div > div {
	background-size: 100% 100%; 
    background-position: center center; 
    background-repeat: no-repeat;
    }

.infofig-container > div:last-child > div { 
	border-right: 1px solid #e6e9ed; 
    }

.infofig-container > div:nth-child(1) > div {
	background-image: url(http://kody.agency/taltekSrc/coal-stat.svg);
    }

.infofig-container > div:nth-child(2) > div {
	background-image: url(http://kody.agency/taltekSrc/mtp.svg);
    }

.infofig-container > div:nth-child(3) > div {
	background-image: url(http://kody.agency/taltekSrc/vrz-stat.svg);
    }

.infofig-container > div:nth-child(4) > div {
	background-image: url(http://kody.agency/taltekSrc/trans-stat.svg); 
   	}
    
/*-- ГЕОГРАФИЯ */
.rsm-geographies {display: none;}
.map {
	background-repeat: no-repeat; 
    margin-bottom: 0; 
    padding-bottom: 50px;
    background-image: url(http://kody.agency/taltekSrc/mother-russia.png);
  	}

.rsm-marker:nth-child(1) {transform: translate(515px,60px) scale(0.33);}
.rsm-marker:nth-child(2) {transform: translate(483px,66px) scale(0.33);}
.rsm-marker:nth-child(3) {transform: translate(483px,96px) scale(0.33);}
.rsm-marker:nth-child(4) {transform: translate(589px,163px) scale(0.33);}
.rsm-marker:nth-child(5) {transform: translate(599px,153px) scale(0.33);}
.rsm-marker:nth-child(6) {transform: translate(602px,149px) scale(0.33);}
.rsm-marker:nth-child(7) {transform: translate(604px,154px) scale(0.33);}

/*-------------------------------------------------------------------------------------- ОТЧЕТНОСТЬ */
.fileinfo > img {
	background-size: 100% 100%; 
    background-position: center center; 
    background-repeat: no-repeat;
    width:60px;
    height:80px; 
    box-sizing: border-box; 
    padding-left: 60px; 
    background-image: url(http://kody.agency/taltekSrc/pdf.png);
    }
    
.filesize {
	margin: -10px 0 20px 110px;
    }
    
/*-- ПОДВАЛ */
.ant-layout-footer .ant-col-offset-1 img {
	width: 250px;
   	}
    
.ant-layout-footer { 
	background: #1d2b37; 
    padding: 30px 50px; 
    }

.footer__logo_tk {
	margin: 0px;
    width: 250px;
    position: absolute;
    left: 40px;
    margin-top: -30px;
}

.footer__tk-txt {
	margin: 0px;
    position: absolute;
    bottom: 35px;
    left: 50px;
}

.footer__logo-kody {
	margin: 0px;
    position: absolute;
    bottom: 30px;
    right: 50px;
}

/*---------------------------------------------------------------------------- НОВОСТИ */
.news-item--image:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: none;
    background-color: rgba(0,35,60,0.55);
}

.main-page-content .newsblock-normal div:nth-child(1):after {
    opacity: 1;
}

.news-item--image span, .news-item--image h1, .news-item--image a {
	z-index: 9;
}

.all-news-container .ant-list {
	padding:30px 0 50px 0;
}

.ant-list-pagination {
    text-align: left;
}

.el-border { border-bottom: 1px solid #e6e9ed; margin-bottom: 80px; }
.el-border2 { border-bottom: 1px solid #e6e9ed; padding-bottom: 60px; margin-bottom: 60px; }


.ant-select-selection {width: 64px;}
.ant-select-selection.ant-select-selection--single {text-transform: uppercase; font-weight: 500; color: #787E90; margin: 2px; border: none;}


.ant-menu {min-width: 1180px}

.ant-layout {min-height: 800px;}
.row-info-block div:last-child {margin-bottom: 0px}

.page-element__marker {margin: 30px 0;}
.page-content h1 {margin-bottom: 30px;}

.page-element__list li {padding-bottom: 15px; font-family: Open Sans,sans-serif;}
.page-element__column {width: 405px; margin-right: 60px; margin-bottom: 80px; }


.ant-select-selection.ant-select-selection--single {font-size: 12px; height: auto; margin: 0;}


.ant-row-flex.ant-row-flex-center { padding-top: 20px; }

.page-element__structure img {width: 250px; height: 250px; margin-bottom: 20px; border-radius: 2px; opacity:0.5;}
.page-element__structure h1 {margin-bottom: 10px;}
.page-section__structure h1.page-spacer {opacity: 0.35; margin-bottom: 50px;}
.page-section__structure { padding: 50px 0;}
.page-container .page-section__structure:first-child { padding-top: 100px;}
.page-container .page-section__structure:last-child { padding-bottom: 100px;}

iframe { background-color: #f0f4f8; }
.page-section-contacts span { display: -webkit-box; font-size: 13px; font-weight: 700;}

.page-element__map { width: 500px; margin-right: 0;}
.page-element__contactinfo { width: 370px;}
.page-element__contactinfo p { font-size: 15px;}

.page-element__column.img-block {width: 450px; margin: 0;}
.page-element__column.img-block:first-child {margin-right: 30px;} 

.img-block img {width: 100%; height: 100%;}

.page-section-phototext .img-block { left: 100px; position: relative; }
.page-section-phototext .text-block { background-color: #004c89; width: fit-content; left: -100px; top: -200px; position: relative; padding: 50px;}

.page-section-phototext .text-block h2 { font-size: 20px; font-weight: 700; color: #ffffff; }
.page-section-phototext .text-block p { font-size: 18px; width: 350px; font-weight: 600; color: #ffffff; }
.page-section-phototext .page-content { margin-bottom: -200px; }


.popover-container {
	display: block;
	margin: 0;
	padding: 0;
	width: 350px;
}

p.popover-container__text {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding: 25px 0px 25px 25px;
	max-width: 90%;
	width: 100%;
}

.page-section-coaltable .img-block {
	margin-bottom: 30px;
}

.page-section-coaltable p span {
	font-size: 13px;
	opacity: 0.75;
}

.page-section-coal .page-element__column.img-block {
	margin-top: 30px;
    margin-top: 30px;
}

.page-section-logistic.page-section-phototext {
	padding: 0;
}

a.biglink {
	font-size: 18px;
	font-weight: 600;
}

.news-item--image h1, .news-item--no-image h1 {
	max-width: 80%;
}

.main-page-container.geo {
	margin-bottom: 100px;
}

.news-item--image a {
	color: white;
	font-weight: 600;
	opacity: 0.75;
}

.news-item--no-image a {
	font-weight: 600;
}

.news-item--no-image a:hover {
	color: #3c58a6;
}

.news-item--image a:hover {
	opacity: 1;
}

a.link-override:hover {
	color: #3c58a6;
}

.opened {
    z-index: 99;
}


@media screen and (min-width: 320px) {

.page-container { 
	width:100%; 
}

.nav__mobile__curtain a {
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.8;
	color: white;
}

.nav__mobile__curtain a:hover {
	font-size: 20px;
    line-height: 1.8;
}

.nav__mobile__curtain {
	padding: 50px 0;
	background-color: #1d2b37;
}

.simple-carousel-wrapper { 
	width: 100%;
	margin: 50px;
}
     
}








/*-- IPHONE VER */
@media screen and (min-width: 320px) and (max-width: 659px) {

.geo-card:nth-child(3) {
	display: none;
}

.marker-tooltip {display:none;}


.minimap h1 {
	font-size: 24px;
}

h1.infofig-heading, h1.files, h1.news-heading {
	font-size: 24px;
	padding: 0;
	margin: 0 0 30px 0;
}

.main-page-content {
	width: 320px;
}

.card {
	width: 320px;
	height: 180px;
	margin: 15px 0px;
}

.card h1 {
	font-size: 20px;
	margin: 30px;
	max-width: 80%;
}

.card a {
	left: 30px;
}

.fileinfo {
	width: 320px;
	margin: 0;
	border-bottom: none;
}

.ant-row-flex a:last-child .fileinfo {
	border-bottom: 1px solid #e6e9ed;
}

.infofig {
	width: 320px;	
}

.infofig:last-child {
    width: 320px;
}

.infofig-container > div > div {
    border: 1px solid #e6e9ed;
    border-bottom: none;
}

.infofig-container > div:last-child > div {
    border-bottom: 1px solid #e6e9ed;
}

.infofig span {
    margin-left: 20px;
}

.main-page-content .card:nth-child(5) h1 {
    width: 80%;
}

.carousel-wrapper {
	width: 100%;
	max-height: 470px!important;
	margin-bottom: 50px;
}

.carousel-wrapper__image {
	max-height: 470px!important;
    }
    
.carousel-wrapper__description__group {
    margin: 30px 0 0 30px;
}

.carousel-wrapper__description {
	width: 345px;
	max-height: 180px;
}

.carousel-wrapper__description__group h1 {
    height: 80px;
    max-width: 280px;
}

.carousel-wrapper__description a {
	bottom: 0;
}

.carousel-wrapper__controls {
    right: 20px;
    bottom: 20px;
}

.simple-carousel-wrapper__description > div {
	font-size: 24px;
	width: 320px;
}

.slick-track .slick-slide:nth-child(1) .carousel-wrapper__image {
	background-position: -538px -224px;
    background-size: 520%;
}

.slick-track .slick-slide:nth-child(2) .carousel-wrapper__image {
	background-position: -680px 0px;
}

.slick-track .slick-slide:nth-child(3) .carousel-wrapper__image {
	background-position: -860px 0px;
}

.nav__mobile > img {
	position: absolute;
    left: 5px;
}

.select-locale {
	position: absolute;
    right: 5px;
}

.ant-select-selection.ant-select-selection--single {
	position: absolute;
    right: 0px;
}

.app-container__footer {
	display: block;
	text-align: center;
	height: auto;
}

.footer__logo_tk {
	position: relative;
	margin: 0 auto;
	left: 0;
	padding-top: 10px;
	padding-bottom: 30px;
}

.footer__tk-txt {
	position: relative;
	margin: 0 auto;
	text-align: center;
	bottom: 0;
	left: 0;
	padding-bottom: 35px;
}

.footer__logo-kody {
	position: relative;
	margin: 0 auto;
	bottom: 0;
	right: 0;
	padding-bottom: 20px;
}


}

/*-- IPHONE HOR */
@media screen and (min-width: 660px) and (max-width: 767px) {
	
h1.infofig-heading, h1.files, h1.news-heading {
	margin: 0 0 30px 30px;
}
	
.main-page-content {
	width: 660px;
}

.card {
	width: 300px;
	height: 180px;
	margin: 15px 15px;
}

.card h1 {
	font-size: 20px;
	margin: 30px;
	max-width: 80%;
}

.card a {
	left: 30px;
}

.infofig {
	width: 315px;	
}

.infofig:last-child {
    width: 315px;
}

.infofig-container > div:nth-child(1) > div {
    border-bottom: none;
}

.infofig-container > div:nth-child(2) > div {
    border-right: 1px solid #e6e9ed;
    border-bottom: none;
}


.infofig-container > div:last-child > div {
    border-bottom: 1px solid #e6e9ed;
}

.infofig span {
    margin-left: 20px;
}

.fileinfo {
	width: 300px;
}

.main-page-content .card:nth-child(5) h1 {
    width: 80%;
}

.carousel-wrapper {
	width: 100%;
	max-height: 300px!important;
	margin-bottom: 50px;
}

.carousel-wrapper__image {
	max-height: 300px!important;
    }
    
.carousel-wrapper__description__group {
    margin: 30px 0 0 30px;
}

.carousel-wrapper__description {
	width: 345px;
	max-height: 180px;
}

.carousel-wrapper__description__group h1 {
    height: 80px;
    max-width: 280px;
}

.carousel-wrapper__description a {
	bottom: 0;
}

.carousel-wrapper__controls {
    right: 20px;
    bottom: 20px;
}

.simple-carousel-wrapper__description > div {
	font-size: 24px;
	width: 320px;
}
    
.slick-track .slick-slide:nth-child(1) .carousel-wrapper__image {
	background-position: -16px 0;
    background-size: 180%;
}

.slick-track .slick-slide:nth-child(2) .carousel-wrapper__image {
	background-position: -30px 0;
}

.slick-track .slick-slide:nth-child(3) .carousel-wrapper__image {
	background-position: -110px 0px;
}

.simple-carousel-wrapper, .simple-carousel-wrapper__image {
    height: 250px;
}

.main-page-content .card:nth-child(5) {
    width: 630px;
}

.main-page-content .card:nth-child(5) h1 {
    width: 80%;
}

.app-container__footer {
	display: block;
	text-align: center;
	height: auto;
}

.footer__logo_tk {
	position: relative;
	margin: 0 auto;
	left: 0;
	padding-top: 10px;
	padding-bottom: 30px;
}

.footer__tk-txt {
	position: relative;
	margin: 0 auto;
	text-align: center;
	bottom: 0;
	left: 0;
	padding-bottom: 35px;
}

.footer__logo-kody {
	position: relative;
	margin: 0 auto;
	bottom: 0;
	right: 0;
	padding-bottom: 20px;
}


}

/*-- IPAD VER */
@media screen and (min-width: 768px) and (max-width: 1023px) {

.map {
	background-size: 2025px; 
	background-position: 76px -260px;
}

.card {
	width: 330px;
	height: 200px;
}

.card h1 {
	font-size: 20px;
	margin: 30px;
	max-width: 80%;
}

.card a {
	left: 30px;
}

.simple-carousel-wrapper__description > div {
    font-size: 32px !important;
    width: 640px !important;
}

.main-page-content .card:nth-child(5) {
	width: 690px;
    }
    
.carousel-wrapper {
	width: 100%;
}
    
.carousel-wrapper__description {
	width: 480px;
}

.slick-track .slick-slide:nth-child(1) .carousel-wrapper__image {
	background-position: -340px 0px;
}

.slick-track .slick-slide:nth-child(2) .carousel-wrapper__image {
	background-position: -440px 0px;
}

.slick-track .slick-slide:nth-child(3) .carousel-wrapper__image {
	background-position: -650px 0px;
}


.carousel-wrapper__description__group h1 {
    max-width: 400px;
    height: 120px;
}

.carousel-wrapper__controls {
    right: 30px;
}

.infofig {
	width: 350px;	
}

.infofig:last-child {
    width: 350px;
}

.fileinfo { 
	width: 330px;
}


.infofig-container > div:nth-child(1) > div {
    border-right: none;
    border-bottom: none;
}

.infofig-container > div:nth-child(2) > div {
    border-right: 1px solid #e6e9ed;
    border-bottom: none;
}

.infofig-container > div:last-child > div {
    border-right: 1px solid #e6e9ed;
}

h1.infofig-heading, h1.files, h1.news-heading {
	font-size: 32px;
}

.flex-center-fluid.tags {
	position: absolute;
	margin-top: 50px;
}

.ant-row-flex-bottom {
	padding-bottom: 50px;
}

.nav__mobile > img {
	position: absolute;
    left: 15px;
}

.select-locale {
	position: absolute;
    right: 15px;
}

}

/*-- IPAD HOR */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
        
.minimap {
	display: none;
}

.mobile {
	display: none;
}

.ant-menu {
    min-width: 820px;
}

.ant-menu-item {
	padding: 0 5px;
}

.infofig-container > div:nth-child(1) > div {
    border-right: none;
    border-bottom: none;
}

.infofig-container > div:nth-child(2) > div {
    border-right: 1px solid #e6e9ed;
    border-bottom: none;
}

.infofig-container > div:last-child > div {
    border-right: 1px solid #e6e9ed;
}

.select-locale {
	margin-right: -30px !important;;
}

.carousel-wrapper {
	width: 100%;
	max-height: 500px!important;
	margin-bottom: 50px;
}

.carousel-wrapper__image {
	max-height: 500px!important;
    }

.carousel-wrapper__description {
	width: 512px;
}

.carousel-wrapper__controls {
    right: 50px;
}

.slick-track .slick-slide:nth-child(1) .carousel-wrapper__image {
	background-position: -200px 0px;
}

.slick-track .slick-slide:nth-child(2) .carousel-wrapper__image {
	background-position: -170px 0px;
}

.slick-track .slick-slide:nth-child(3) .carousel-wrapper__image {
	background-position: -440px 0px;
}

.card {
	width: 450px;
}

.main-page-content .card:nth-child(5) {
	width: 930px;
    }

.infofig {
	width: 460px;	
}

.infofig:last-child {
    width: 460px;
}

.map {
	background-size: 2025px; 
	background-position: 76px -260px;
}

.fileinfo { 
	width: 450px;
}

}

/*-- LAPTOP 1366 */
@media screen and (min-width: 1200px) and (max-width: 1439px) {

.ant-menu {
    min-width: 950px;
}

.ant-menu-item {
	padding: 0 15px;
}

.card {
	width: 450px;
}

.main-page-content .card:nth-child(5) {
	width: 930px;
    }

.infofig {
	width: 460px;	
}

.infofig-container > div:nth-child(1) > div {
    border-right: none;
    border-bottom: none;
}

.infofig-container > div:nth-child(2) > div {
    border-right: 1px solid #e6e9ed;
    border-bottom: none;
}

.infofig-container > div:last-child > div {
    border-right: 1px solid #e6e9ed;
}

.map {
	background-size: 2025px; 
	background-position: 76px -260px;
}

.fileinfo { 
	width: 450px;
}


.carousel-wrapper__description {
	width: 600px;
}

.carousel-wrapper__description__group h1 {
	max-width: 450px;
}

.carousel-wrapper {
	width: 100%;
}

.slick-track .slick-slide:nth-child(1) .carousel-wrapper__image {
	background-position: -150px 0px;
}

.slick-track .slick-slide:nth-child(2) .carousel-wrapper__image {
	background-position: -120px 0px;
}

.slick-track .slick-slide:nth-child(3) .carousel-wrapper__image {
	background-position: -240px 0px;
}

}

/*-- LAPTOP 1440 */
@media screen and (min-width: 1440px) and (max-width: 1679px) {
	
.carousel-wrapper {
	width: 100%;;
}
	
.carousel-wrapper__description {
	width: 720px;
}

.carousel-wrapper__controls {
    right: 100px;
}

.map {
	background-size: 2025px; 
	background-position: 76px -260px;
}

}


/*-- LAPTOP 1680 */
@media screen and (min-width: 1680px) {
      
.map {
	background-size: 2350px; 
	background-position: 90px -300px;
}

}







/*--------------------------------------------------- ВНУТРЕННИЕ СТРАНИЦЫ */
/*-- >320 */
@media screen and (min-width: 320px) {

.mobile {
	display: block;
}

.desctop {
	display: none;
	}

.page-nav {
    padding: 0px;
    margin: 0px;
    max-width: 1680px;
    height: auto !important;
    display: block;
}

.page-nav__links {
	width: 100%;
	max-width: 375px;
	margin-right: 10px;
	padding: 15px 0 20px 30px;
	display: grid;
	margin: 0 auto;
}

.page-nav__links a {
	padding-bottom: 10px;
}

.page-nav__links a:last-child {
	padding-bottom: 30px;
}

.page-heading {
    position: relative;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin: 0 auto;
    margin-top: -40px;
    left: 0;
    max-width: 375px;
    padding: 20px 30px;
}

.page-section .page-content {
	width: 320px;
}

.page-section {
	padding: 30px 0;
}

.page-section p, .page-section li, .page-section a {
	font-size: 16px;
}

.page-section h1 {
	font-size: 20px;
}

.page-element__column {
	margin: 30px 0px;
}

.page-element__marker {
	margin: 15px 0px;
}

.page-element__card {
	width: 320px;
	height: 320px;
	margin: 30px 0;
}

.number li {
    text-indent: -20px;
}

.number li:before {
    margin: 0px;
}

.page-element__map {
	width: 320px;
	margin-top: 0;
}

.page-element__map > iframe {
	width: 320px;
	height: 320px;
}

.el-border {
	margin-bottom: 30px;
}

.page-section-phototext .img-block {
    left: 0;
    position: relative;
}

.page-section-phototext .text-block {
    width: auto;
    left: 0;
    top: 0;
    padding: 20px;
}

.page-section-phototext .text-block p {
    width: auto;
}

.page-section-phototext .page-content {
    margin-bottom: 0;
}

.page-section-columnphoto .page-element__column {
	margin: 15px 0;
}

.page-element__column.img-block:first-child {
    margin-right: 0;
}

.page-slider img {
	width: inherit;
}
 
}

/*-- IPHONE HOR */
@media screen and (min-width: 660px) {
	
.page-nav__links {
	max-width: 660px;
}

.page-heading {
   max-width: 660px;
}

.page-section .page-content {
	width: 600px;
}

.page-element__column {
	width: 280px;
	margin: 30px 0;
}

.page-element__column:nth-child(1n) {
    margin-right: 30px;
}

.page-element__column:nth-child(2n) {
    margin-right: 0px;
}

.page-element__card {
	width: 280px;
	height: 320px;
	margin: 30px 40px 30px 0;
}

.page-element__card:nth-child(2n) {
	margin-right: 0;
}

.page-element__column.img-block:nth-child(1n) {
    margin-right: 40px;
}

.page-element__column.img-block:nth-child(2n) {
    margin-right: 0;
}


}

/*-- IPAD VER */
@media screen and (min-width: 768px) {

.page-nav__links {
	max-width: 720px;
}

.page-heading {
   max-width: 720px;
}

.page-section .page-content {
	width: 660px;
}

.page-element__column, .page-element__column.img-block {
	width: 310px;
}

.page-element__card {
	width: 310px;
}


}

/*-- IPAD HOR */
@media screen and (min-width: 1024px) {

.mobile {
	display:none;
}

.page-container .page-nav {
    height: 100px !important;
}

.page-nav__links {
	max-width: 100%;
	display: inline-block;
	padding-top: 20px;
}

.page-nav__links a {
	padding-bottom: 0;
}

.page-nav__links a:last-child {
	padding-bottom: 0;
}

.page-heading {
    margin-top: -40px;
    max-width: 100%;
}

.page-section .page-content {
	width: 960px;
}

.page-section {
	padding: 80px 0;
}

.page-section p, .page-section li, .page-section a {
	font-size: 18px;
}

.page-section p.tp-l {
	font-size: 28px;
}

.page-section h1 {
	font-size: 28px;
}

.page-element__column {
	width: 420px;
}

.page-element__column:nth-child(1n) {
	margin: 30px 60px 30px 0px;
}

.page-element__column:nth-child(2n) {
	margin: 30px 60px 30px 0px;
}

.page-element__marker {
	margin: 30px 0px;
}

.page-element__card:nth-child(1n) {
	width: 280px;
	height: 320px;
	margin: 30px 40px 30px 0;
}

.page-element__card:nth-child(2n) {
	width: 280px;
	height: 320px;
	margin: 30px 40px 30px 0;
}

.page-element__map {
	width: 420px;
	margin-top: 0;
}

.page-element__map > iframe {
	width: 420px;
	height: 420px;
}

.el-border {
	margin-bottom: 30px;
}

.page-section-phototext .img-block {
    left: 100px;
    position: relative;
}

.page-section-phototext .text-block {
    width: 410px;
    height: 330px;
    left: -50px;
    margin-top: -200px;
    padding: 40px;
}

.page-section-phototext .text-block p {
    width: auto;
}

.page-section-phototext .page-content {
    margin-bottom: 0;
}

.page-section-columnphoto .page-element__column {
	margin: 0;
}

.page-element__column.img-block {
    width: 460px;
}

.page-slider img {
	width: inherit;
}

}

/*-- IPAD HOR */
@media screen and (min-width: 1440px) {

.page-container .page-nav {
    max-width: 1680px;
}

.page-nav__links {
	max-width: 1440px;
	margin: 0 auto;
	display: block;
}

.page-heading {
    max-width: 1440px;
}
	
}