.files-wrapper {
    margin: 0 195px 135px 195px;
    width: 1320px;
    align-self: center;
}

.files {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #505050;
}

.fileinfo {
    width: 410px;
    height: 154px;
    border: solid 1px #e6e9ed;
    display: flex;
    flex-flow: row wrap;
    margin: 15px
}

.icon {
    width: 90px;
    height: 110px;
    margin: 20px 0 0 20px;
}

.filename {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #464a56;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 0 0 30px;
    max-width: 50%;
    flex-basis: 100%;
}

.filesize {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #787e90;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 20px 140px;
}