.simple-carousel-wrapper {
    max-width: 1680px;
    width: 100vw;
    height: 350px;
    position: relative;
    margin: 135px 0;
    background: #ffffff;
    align-self: center;
}

@media screen and (min-width: 768px){
    .simple-carousel-wrapper {
        width: 768px;
    }
}

@media screen and (min-width: 1024px){
    .simple-carousel-wrapper {
        width: 1024px;
    }
}

@media screen and (min-width: 1440px){
    .simple-carousel-wrapper {
        width: 1440px;
    }
}

.simple-carousel-wrapper__inner{
    position: relative;
}

.simple-carousel-wrapper__description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    text-align: center;
}

.simple-carousel-wrapper__description,
.simple-carousel-wrapper__description h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
}

.simple-carousel-wrapper__description h1 b {
    font-size: 80px;
}

.simple-carousel-wrapper__controls {
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    z-index: 2;
}

.simple-carousel-wrapper__image {
    width: 100vw;
    height: 350px;
}

.simple-carousel-wrapper__controls .slick-active .simple-carousel-wrapper__controls__dot {
    background: white;
    transform: scale(1.2);
}

.simple-carousel-wrapper__controls__dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.3);
    transition: background-color .5s ease;
    border-radius: 50%;
    margin: 0 5px;
}