.root-page-container {
    max-width: 1680px;
    position: relative;
    width: 100%;
}
.page-container {
    width: 100%;
    position: relative;
    max-width: 1440px;
}
.page-heading {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-60%);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #004c89;
}
.page-container .page-nav{
    max-width: 1440px;
    width: 100%;
    height:80px;
    margin: 0 auto;
    background: #f0f4f8;
}
.page-section {
    width: 100%;
    position: relative;
    padding: 60px 0;
}
.page-section--border {
    border-bottom: 1px solid #e6e9ed;
}
.page-section--dark {
    background: #f0f4f8;
}
.page-content{
    width: 270px;
    margin: 0 auto;
}
.page-nav__links {
    padding: 17px 0 0 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
}
.page-element__row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}
.page-element__column {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 270px;
    margin-bottom: 50px;
}
.page-element__marker {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin: 50px 0;
}
.page-element__marker:after{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 104%;
    height: 20px;
    transform: translateY(75%) translateX(-2%);
    background: #f0f4f8;
    z-index: -1;
    border-radius: 2px;
}
.page-spacer{
    margin-bottom:50px;
}
.page-element__card {
    width: 260px;
    height: 310px;
    border-radius: 2px;
    background-color: #f0f4f8;
    margin-bottom: 30px;
    margin-right: 25px;
}
.page-element__card img {
    transform: translateX(10px) translateY(10px);
    max-width: 100%;
    margin-bottom: 20px;
}
.page-element__card p {
    padding-left: 30px;
    margin:0;
}

.page-element__list {
    list-style-type: none;
    display: block;
}
.circle {
    list-style-image: url("http://i63.tinypic.com/332m9n9.png");
}
.number {
    list-style: none;
    counter-reset: item;
}
.number li {
    counter-increment: item;
    margin-bottom: 5px;
    text-indent: -1em;
}
.number li:before {
    margin-right: 10px;
    content: "0"counter(item);
    color: #004c89;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

/* Typography */

.subpage__link,
.page-nav .subpage__link:hover,
.page-nav  .subpage__link-active {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #787e90;
    text-decoration: none;
    margin-right: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #1e1e1e;
}

.page-section h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e1e1e;
}

/* States */

.page-nav .subpage__link:hover,
.page-nav  .subpage__link-active {
    color: #004c89;
}


@media screen and (min-width: 768px) {
    p {
        font-size: 15px;
    }

    .page-section h1 {
        font-size: 24px;
    }

    .page-container .page-nav {
        height: 120px;
    }

    .page-nav__links {
        padding: 17px 0 0 40px;
    }

    .page-heading {
        left:40px;
        font-size: 32px;

    }

    .page-section{
        padding: 80px 0;
    }

    .page-content{
        width: 690px;
    }

    .page-element__column {
        width: 300px;
        margin-right: 30px;
    }

    .page-element__card {
        width: 320px;
    }

}

@media screen and (min-width: 1440px) {
    .page-section{
        padding: 100px 0;
    }

    .page-nav__links {
        padding: 17px 0 0 75px;
    }

    .page-content{
        width: 930px;
    }

    .page-heading {
        left:75px;
        font-size: 40px;
    }

    .page-element__column {
        width: 420px;
        margin-right: 30px;
    }

    p {
        font-size: 18px;
    }

    .page-section h1 {
        font-size: 28px;
    }

    .page-element__card {
        width: 280px;
    }
}


