@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../node_modules/codemirror/theme/material.css';

.codemirror-editor {
    min-height: 100vh;
}

pre {
    display: inline;
}

.tp-l {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.68;
    letter-spacing: normal;
    color: #1e1e1e;
}

.tp-m {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1e1e1e;
}

.tp-s {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #1e1e1e;
}

@media screen and (min-width: 768px){
    .tp-l {
        font-size: 24px;
    }

    .tp-m {
        font-size: 18px;
    }

    .tp-s {
        font-size: 15px;
    }
}

@media screen and (min-width: 1440px){
    .tp-l {
        font-size: 28px;
    }

    .tp-m {
        font-size: 20px;
    }

    .tp-s {
        font-size: 18px;
    }
}

.CodeMirror {
    height: 100vh;
    margin: auto;
    background: #f5f5f5;
}
