/*________________________________       General Page to Page */
body.innerPage {
  overflow-y: scroll;
}

#internalPages {
  position: absolute;
  width: 60%;
  min-width: 960px;
  min-height: 100%;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.innerPage #internalPages {
  transform: translateX(0%);
}

#jumpPageToPage {
  width: 100%;
  height: 100%;
}

#contentPage {
  width: 100%;
  min-height: 500px;
}

#contentPage img {
  width: 100%;
}

.pageGroup {
  position: relative;
}

.pageGroupPattern {
  width: 800px;
  margin: 0 80px;
}

.innerPage header.light.closeMenu #logoTaltekHeader svg path {
  fill: rgba(10, 10, 30, 1);
}
.innerPage header.light.closeMenu #logoTaltekHeader svg polygon#Fill-28 {
  fill: rgba(129, 129, 129, 1);
}
.innerPage header.light.closeMenu #logoTaltekHeader svg polygon#Fill-29 {
  fill: rgba(10, 10, 30, 1);
}
.innerPage header.light.closeMenu #logoTaltekHeader svg polygon#Fill-30 {
  fill: rgba(0, 76, 137, 1);
}

.innerPage header.light.closeMenu .lineMenuBarHeader {
  background-color: rgba(10, 10, 30, 1);
}

/*________________________________       Footer Inner Pages */
#internalPages #footer {
  position: relative;
  bottom: auto;
  background-color: rgba(50, 50, 75, 1);
  padding: 40px 5px;
  height: 20px;
}

/*________________________________       Back Inner Pages */
#backPage {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0;
}

#backPage:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 30, 0.7) 0%,
    rgba(0, 0, 30, 0.45) 15%,
    rgba(0, 0, 30, 0.5) 85%,
    rgba(0, 0, 30, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 30, 0.7) 0%,
    rgba(0, 0, 30, 0.45) 15%,
    rgba(0, 0, 30, 0.5) 85%,
    rgba(0, 0, 30, 0.75) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 30, 0.7) 0%,
    rgba(0, 0, 30, 0.45) 15%,
    rgba(0, 0, 30, 0.5) 85%,
    rgba(0, 0, 30, 0.75) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300001e', endColorstr='#bf00001e',GradientType=0 );
}

/*________________________________       Button go back Home */
#buttonBackHome {
  position: absolute;
  display: inline-flex;
  bottom: 50px;
  left: 50px;
  z-index: 2;
  cursor: pointer;
}

#iconBackHome {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("/static/media/svg/home.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

#textBackHome {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 5px;
  opacity: 0;
  transform: translateX(20px) translateY(1px);
}

#buttonBackHome:hover #textBackHome {
  opacity: 1;
  transform: translateX(0px) translateY(1px);
}

#buttonBackHome:hover #iconBackHome {
  transform: translateX(-3px);
}

/*________________________________       General Style Page to Page */
.titleGroup {
  padding: 30px 0 50px 0;
}
.aboutGroup {
  padding: 80px 0;
}
.mapGroup {
  padding: 80px 0;
}

.headPageUnit {
  padding: 30px 0;
}
.headUnit {
  padding-bottom: 30px;
}

.textTitleUnit {
  padding: 30px 0;
}
.textSmallUnit {
  padding: 20px 0;
}
.textNormalUnit {
  padding-right: 50px;
}
.textMicroUnit {
  padding: 0;
}

.pageGroupPattern .textMicroUnit {
  padding: 0;
  width: 500px;
}

.textRightPhotoAboutPattern {
  width: 522px;
}
.photoRightPhotoAboutPattern {
  position: absolute;
}
.photoRightPhotoAboutPattern .cardPhotoUnit {
  height: 100%;
  padding: 0;
}

.cardsAboutPattern {
  padding: 40px 0 30px 0;
}

.linkDocUnit {
  padding: 30px 0;
}
.linkDocUnit a {
  display: inline-flex;
  flex-flow: row wrap;
  line-height: 1.4;
}
.linkDocUnit a span {
  width: 160px;
  padding-top: 5px;
}
.linkDocUnit a:before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}

.linkDocUnit a:hover {
  transform: translateY(-2px);
}

.linkDocUnit a:hover:before {
  transform: scale(1.05);
}

.linkDocVideo:before {
  width: 50px;
  height: 50px;
  background-image: url("/static/media/svg/video.svg");
}

.linkDocPdf:before {
  width: 40px;
  height: 50px;
  background-image: url("/static/media/svg/pdf.svg");
}

.cardUnit {
  padding: 15px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  border: solid 1px rgba(230, 235, 245, 1);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(10, 10, 30, 0.05);
  -moz-box-shadow: 0px 5px 10px 0px rgba(10, 10, 30, 0.05);
  box-shadow: 0px 5px 10px 0px rgba(10, 10, 30, 0.05);
  max-width: 760px;
  position: relative;
}

a.cardUnit:hover {
  -webkit-box-shadow: 0px 15px 25px 0px rgba(10, 10, 30, 0.12);
  -moz-box-shadow: 0px 15px 25px 0px rgba(10, 10, 30, 0.12);
  box-shadow: 0px 15px 25px 0px rgba(10, 10, 30, 0.12);
}

.cardPhotoUnit.cardUnit {
  border-color: rgba(230, 235, 245, 0.3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backfill {
  background-color: rgba(248, 249, 250, 1);
}
.backlight {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/static/media/svg/backlight.svg");
}

.backfillHeight:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(248, 249, 250, 1);
  display: block;
  z-index: -1;
}

#bvrz.backfillHeight:after {
  height: 495px;
}

.column {
  display: inline-flex;
  flex-flow: row wrap;
}
.twoColumn p {
  width: 320px;
  margin-right: 50px;
}
.textNormalUnit.twoColumn p {
  width: 330px;
  margin-right: 80px;
}
.textNormalUnit.twoColumn p:last-child {
  margin-right: 0px;
}
.linkDocUnit.twoColumn a {
  width: 280px;
  margin-right: 50px;
}

/*________________________________       Typography Page to Page */
.headPageUnit h1 {
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(0, 75, 135, 1);
}
.headUnit h2 {
  font-size: 26px;
}

.textTitleUnit p {
  font-size: 22px;
}
.textNormalUnit p {
  font-size: 18px;
  padding-bottom: 20px;
}
.textNormalUnit p:last-child {
  padding-bottom: 0px;
}

.textSmallUnit p {
  font-size: 15px;
  color: rgba(10, 10, 30, 0.6);
}
.textSmallUnit a {
  font-size: 15px;
  color: rgba(10, 10, 30, 0.6);
}
.textSmallUnit a:hover {
  color: rgba(0, 75, 135, 1);
}

.textMicroUnit p {
  font-size: 13px;
  color: rgba(10, 10, 30, 0.6);
}

.linkNormalUnit a {
  font-size: 15px;
  color: rgba(0, 75, 135, 1);
  display: inline-flex;
}
.linkNormalUnit a:after {
  content: "";
  width: 20px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  background-image: url("/static/media/svg/arrows-link.svg");
  transform: translateY(8px) translateX(0);
}

.linkNormalUnit a:hover {
  opacity: 0.8;
}
.linkNormalUnit a:hover:after {
  transform: translateY(8px) translateX(5px);
}

.cardNumbUnit h2 {
  font-size: 18px;
  font-weight: 400;
  color: rgba(10, 10, 30, 0.2);
  display: grid;
}
.cardNumbUnit h2 span {
  font-size: 50px;
  font-weight: 400;
  color: rgba(0, 75, 135, 1);
  padding-right: 5px;
}

.cardNumbUnit h3 {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  width: 160px;
}

.aboutColumn .cardNumbUnit {
  width: 190px;
  margin-right: 30px;
  position: relative;
}
.longRightPhoto .cardPhotoUnit {
  position: absolute;
  max-width: 602px;
}

.h200 {
  height: 170px;
}
.h250 {
  height: 200px;
}

.fiveCardsGroup .cardUnit {
  margin-bottom: 30px;
}
.fiveCardsGroup .cardPhotoUnit {
  width: 452px;
}

.cardNoteUnit {
  width: 320px;
  padding: 30px;
  top: 80px;
  right: -50px;
  z-index: 1;
  position: absolute;
}

.cardNoteUnit.hide {
  opacity: 0;
  transform: translateY(50px);
}

.cardNoteUnit p {
  font-size: 15px;
  padding-top: 10px;
}

.aboutMap {
  position: relative;
  transform: translateY(-200px) translateX(-50px);
  height: 425px;
}

#geoMap {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutMap #geoMap {
  position: absolute;
  top: 0;
  left: 0px;
  height: 655px;
  width: 1070px;
}

.transMap #geoMap {
  position: absolute;
  top: 160px;
  left: 20px;
  height: 625px;
  width: 1024px;
  z-index: -1;
  background-size: contain;
}

#trans {
  margin-bottom: 350px;
}

.sliderHistory {
  position: relative;
  z-index: 1;
}

.picAboutMap {
  position: absolute;
  z-index: 1;
  font-size: 13px;
  cursor: cell;
}

.picAboutMap h3 {
  font-size: 15px;
}
.picAboutMap:hover h3 {
  color: rgba(0, 75, 135, 1);
}

#moscowPicAboutMap {
  transform: translateX(160px) translateY(352px);
}
#spbPicAboutMap {
  transform: translateX(27px) translateY(262px);
}
#mtpPicAboutMap {
  transform: translateX(265px) translateY(237px);
}
#barnaulPicAboutMap {
  transform: translateX(404px) translateY(546px);
}
#kemerovoPicAboutMap {
  transform: translateX(518px) translateY(527px);
}

.sliderHistory {
  min-height: 200px;
}

.slideHistory h3 {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 40px;
  color: rgba(0, 75, 135, 1);
}

.slideHistory p {
  width: 450px;
}

.slideHistory {
  position: absolute;
  top: 20px;
}

.slideHistory.hide {
  opacity: 0;
  transform: translateX(50px);
}

.sliderHistory .navControl {
  background-image: url("/static/media/svg/arrows-black.svg");
}

.sliderHistory .navControl:hover {
  background-image: url("/static/media/svg/arrows-blue.svg");
}

.sliderHistory .controlSlide {
  display: inline-flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.rightTextListPattern {
  width: 480px;
  padding: 0 20px;
}

.rightTextListPattern ul {
  margin: 30px 0;
  list-style-image: url("/static/media/svg/list.svg");
  margin-left: 25px;
}

.rightTextListPattern p {
  padding-bottom: 20px;
}

.rightTextListPattern ul li {
  font-size: 15px;
  padding: 0 50px 20px 10px;
}

.textNormalUnit.leftTextListPattern {
  width: 200px;
  padding-right: 62px;
}

.textNormalUnit.leftTextListPattern h3 {
  line-height: 1.6;
}

.leftTextListMissionPattern {
  display: -webkit-box;
}

.leftTextListMissionPattern span {
  margin-right: 15px;
  color: rgba(0, 75, 135, 1);
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  border-bottom: 2px solid rgba(0, 75, 135, 1);
  font-size: 18px;
}

.fiveCardsGroup {
  display: flex;
}

/*________________________________       News */
.news-item-container {
  display: grid;
  border-bottom: 2px solid rgba(235, 237, 238, 1);
  max-width: 640px;
  padding: 40px 0 30px 0;
}

.news-item-container a {
  font-size: 22px;
}

.news-item-container a:hover {
  color: rgba(0, 75, 135, 1);
}

.news-item-container span {
  font-size: 15px;
  padding-top: 15px;
  color: rgba(10, 10, 30, 0.5);
}

.pager {
  margin: 30px 0;
  display: inline-flex;
}

.pager a {
  font-size: 15px;
  width: 32px;
  height: 29px;
  font-weight: 500;
  padding-top: 3px;
  border-radius: 50%;
  color: rgba(10, 10, 30, 0.5);
  margin: 10px 5px;
  text-align: center;
}

.pager a.active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 75, 135, 1);
}

.pager .navControl {
  background-image: url(/static/media/svg/arrows-black.svg);
  opacity: 0.3;
}

.pager .navControl:hover {
  background-image: url(/static/media/svg/arrows-blue.svg);
}

.newsModal .lineMenuBarHeader {
  background-color: rgba(10, 10, 30, 1);
}
.newsModal .lineMenuBarHeader:first-child {
  transform: translateY(5px) rotate(45deg);
}
.newsModal .lineMenuBarHeader:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

.newsModal {
  z-index: 99;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  border: solid 1px rgba(230, 235, 245, 1);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(10, 10, 30, 0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(10, 10, 30, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(10, 10, 30, 0.15);
  margin: 20px 20px 0px 20px;
  transform: translateX(100%);
  display: grid;
}

.newsPage .newsModal {
  transform: translateX(0px);
}

.newsBlock {
  padding: 60px 80px;
  max-width: 600px;
  overflow-y: auto;
}

.newsBlock .news-item-date {
  font-size: 15px;
  color: rgba(10, 10, 30, 0.5);
  margin-bottom: 30px;
}

.newsBlock .news-item-header {
  font-size: 26px;
  color: rgba(10, 10, 30, 1);
  margin-bottom: 50px;
}

.newsBlock #contentNews p {
  font-size: 18px;
  margin-bottom: 20px;
}

.newsModal #iconMenuBarHeader {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.3;
}

body.newsPage {
  overflow: hidden;
}

/*________________________________       General Style Page to Page */
.mapGroup .headUnit {
  max-width: 280px;
  position: relative;
  z-index: 1;
}

/*________________________________       Style for TestInnerPage */
