/*__________________________________________       00 Reset CSS */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-page;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*__________________________________________       01 General */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
span {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  overflow: hidden;
  background-color: rgba(10, 10, 30, 1);
}

a,
p,
h1,
h2,
h3,
li {
}

.dark a,
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark li {
  color: rgba(255, 255, 255, 1);
}

p,
li,
a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(10, 10, 30, 0.8);
}

a,
a:focus {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(10, 10, 30, 0.8);
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 18px;
}

ul {
  list-style: none;
}

.tabBlock {
  display: inline-flex;
}

/*__________________________________________       Header */

#header {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

#logoTaltekHeader {
  width: 280px;
  margin: 50px;
}

#logoTaltekHeader a {
  display: block;
}

#logoTaltekHeader svg {
  width: 100%;
}

#langHeader {
  position: absolute;
  top: 61px;
  right: 250px;
  opacity: 0;
}

.openMenu #langHeader {
  opacity: 1;
}

.tab a {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 0 15px;
  padding: 0 1px 5px 1px;
  letter-spacing: 1.2px;
  opacity: 0.3;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.tab.active a {
  opacity: 1;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.tab a:hover {
  opacity: 1;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

#menuBarHeader {
  position: absolute;
  right: 50px;
  top: 60px;
  display: inline-flex;
  cursor: pointer;
  z-index: 100;
}

#textMenuBarHeader {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 0, 30, 1);
  padding: 3px;
}

.dark #textMenuBarHeader {
  color: rgba(255, 255, 255, 1);
}

.linkMenuBarHeader {
  text-align: right;
  transform: translateX(-20px);
  opacity: 0;
}

#menuBarHeader:hover .linkMenuBarHeader {
  opacity: 1;
  transform: translateX(0px);
}

.openMenu #menuBarHeader .linkMenuBarHeader {
  opacity: 1;
  transform: translateX(0px);
}

.lineMenuBarHeader {
  background-color: rgba(255, 255, 255, 1);
  height: 2px;
  width: 30px;
  margin: 8px;
}

.openInnerPage .lineMenuBarHeader {
  background-color: rgba(0, 0, 30, 0.25);
}

.openInnerPage #menuBarHeader:hover .lineMenuBarHeader {
  background-color: rgba(0, 0, 30, 0.5);
}

#menuBarHeader:hover .lineMenuBarHeader:first-child {
  transform: translateY(-1px);
}

#menuBarHeader:hover .lineMenuBarHeader:last-child {
  transform: translateY(2px);
}

.openMenu #menuBarHeader .lineMenuBarHeader:first-child,
.openInnerPage #menuBarHeader .lineMenuBarHeader:first-child {
  transform: translateY(5px) rotate(45deg);
}

.openMenu #menuBarHeader .lineMenuBarHeader:last-child,
.openInnerPage #menuBarHeader .lineMenuBarHeader:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

/*__________________________________________       Footer */

#footer {
  position: fixed;
  bottom: 80px;
  width: 100%;
  z-index: 20;
}

#footer.closeMenu {
  transform: translateY(200px);
}

#footer.openMenu {
  transform: translateY(0px);
}

#copyrightTaltekFooter {
  position: absolute;
  left: 50px;
}

#madeKodyFooter {
  position: absolute;
  right: 60px;
}

#copyrightTaltekFooter p {
  font-size: 15px;
  opacity: 0.5;
}

#madeKodyFooter p {
  font-size: 15px;
}

#madeKodyFooter span {
  font-size: 15px;
  opacity: 0.4;
}

#madeKodyFooter a {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.75;
}

#madeKodyFooter a:hover {
  opacity: 1;
}

#socialFooter {
  position: absolute;
  right: 320px;
  display: inline-flex;
  transform: translateY(-5px);
}

.socialIcon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.socialIcon:hover {
  opacity: 1;
}

#vkSocialIcon {
  background-image: url("/static/media/svg/vk.svg");
}

#instagramSocialIcon {
  background-image: url("/static/media/svg/instagram.svg");
}

#facebookSocialIcon {
  background-image: url("/static/media/svg/facebook.svg");
}

#okSocialIcon {
  background-image: url("/static/media/svg/ok.svg");
}

/*__________________________________________       Big Slider */

#bigSlider {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 30, 1);
}

#stageBigSlider {
  height: 100%;
  width: 100%;
}

.slideBigSlider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contentSlideBigSlider {
  position: absolute;
  margin: 50px;
  max-width: 800px;
  bottom: 120px;
  z-index: 2;
}

.btSlideBigSlider {
  height: 32px;
  margin-top: 20px;
  display: inline-block;
}

.btSlideBigSlider span:first-child {
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/static/media/svg/more.svg");
  background-repeat: no-repeat;
  opacity: 0.95;
}

.btSlideBigSlider:hover span:first-child {
  transform: rotate(90deg);
  opacity: 1;
}

.btSlideBigSlider span:last-child {
  padding: 3px 12px;
  opacity: 0.75;
}

.btSlideBigSlider:hover span:last-child {
  padding-left: 15px;
  opacity: 1;
}

.btSlideBigSlider a {
  display: inline-flex;
  overflow: hidden;
}

.photoSlideBigSlider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photoSlideBigSlider:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 30, 0.7) 0%,
    rgba(0, 0, 30, 0.45) 15%,
    rgba(0, 0, 30, 0.5) 85%,
    rgba(0, 0, 30, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 30, 0.7) 0%,
    rgba(0, 0, 30, 0.45) 15%,
    rgba(0, 0, 30, 0.5) 85%,
    rgba(0, 0, 30, 0.75) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 30, 0.7) 0%,
    rgba(0, 0, 30, 0.45) 15%,
    rgba(0, 0, 30, 0.5) 85%,
    rgba(0, 0, 30, 0.75) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300001e', endColorstr='#bf00001e',GradientType=0 );
}

#bigSlider video {
  min-height: 100%;
  min-width: 100%;
}

/*___________________________________       Link Control Big Slider */

#controlSlideBigSlider {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

#controlSlideBigSlider > div {
  display: inline-flex;
  cursor: pointer;
}

#linkControlSlideBigSlider {
  margin: 30px;
}

.linkControlSlideBigSlider {
  margin: 20px;
  padding-bottom: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.linkControlSlideBigSlider.active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 1);
}

.linkControlSlideBigSlider:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.linkControlSlideBigSlider.active:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.lineLinkLoader {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  text-indent: 9999px;
}

/*_________________________________       Nav Control Big Slider */

#navControlSlideBigSlider {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.navControl {
  height: 30px;
  width: 30px;
  margin: 10px;
  background-image: url("/static/media/svg/arrows.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.5;
}

.navControl.prevNavControl {
  transform: rotate(180deg);
}

.navControl.prevNavControl:hover {
  opacity: 1;
  transform: rotate(180deg) translateX(2px);
}

.navControl.nextNavControl:hover {
  opacity: 1;
  transform: translateX(2px);
}

/*________________________________       03 Modal Main Navigation Menu */
.modalFullPage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

#mainMenu {
  position: fixed;
  left: 50px;
  z-index: 20;
}

.backModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.backModal .filter {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(10, 10, 30, 0.95);
  z-index: 5;
}

.backModal .backPhotoModal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.backModal .backPhotoModal:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 30, 0.45);
  z-index: 1;
}

#mainMenu .linkMainMenu {
  margin: 10px 0;
}

#mainMenu .twoLevelMenu li {
  margin: 5px 10px;
}

#mainMenu .linkMainMenu a {
  font-size: 30px;
  font-weight: 500;
}

#mainMenu .linkMainMenu > a.linkKiller:after {
  content: "";
  display: inline-flex;
  width: 20px;
  height: 20px;
  background-image: url("/static/media/svg/dropdown.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(10px) translateY(2px);
}

#mainMenu .linkMainMenu > a.open:after {
  transform: translateX(10px) translateY(2px) rotate(180deg);
}

#mainMenu .twoLevelMenu a {
  font-size: 20px;
  font-weight: 500;
}

.twoLevelMenu {
  overflow: hidden;
  margin-bottom: 20px;
}

#contactsMenuModal {
  position: absolute;
  z-index: 20;
}

#contentContactsMenuModal {
  margin: 30px 15px;
}

#contentContactsMenuModal p,
#contentContactsMenuModal a {
  font-size: 26px;
}

#contentContactsMenuModal p {
  padding: 5px 0;
  display: grid;
}

#contentContactsMenuModal span.infoRow {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.3;
}

.phoneBlock p:first-child {
  margin-right: 20px;
}

/*__________________________________       03 Modal Main Contacts Maps */
.linkToMap {
  display: inline-flex;
  cursor: pointer;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.linkToMap:before {
  content: "";
  display: block;
  overflow: hidden;
  height: 30px;
  width: 40px;
  background-image: url("/static/media/svg/map.svg");
  background-position: -10px 0;
  background-repeat: no-repeat;
  margin: 5px 15px 5px 0;
  opacity: 0.5;
  position: absolute;
  transform: translateX(-50px);
}

.linkToMap:hover:before {
  background-position: -2px 0;
  opacity: 1;
  transform: translateX(-50px);
}

.linkToMap:hover {
  transform: translateX(5px);
}

.openModalMap .linkToMap:before {
  opacity: 0;
}

.openModalMap .linkToMap:hover {
  transform: translateX(0);
}

#maps {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(100%);
  z-index: 30;
}

#maps:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 150px;
  z-index: 1;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 30, 0.5) 0%,
    rgba(0, 0, 30, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 30, 0.5) 0%,
    rgba(0, 0, 30, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 30, 0.5) 0%,
    rgba(0, 0, 30, 0) 100%
  );
}

#maps .maps {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: scale(1.1);
}

#maps .maps a {
  font-size: 12px;
  opacity: 0.5;
}

#maps.show {
  transform: translateX(0);
}

.maps.show {
  transform: scale(1);
}

.maps.hide {
  transform: scale(1.1);
}

/*__________________________________       News List Home */
#newsListHome {
  display: -webkit-box;
  width: 1175px;
  overflow-x: scroll;
  padding: 30px;
  transform: translateX(-50px);
}

.newsHome {
  width: 300px;
  margin: 30px;
  padding-top: 10px;
}

.newsHome a {
  min-height: 80px;
  display: block;
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.newsHome p {
  font-size: 12px;
  font-weight: 500;
  padding: 5px 0px;
  opacity: 1;
  border-radius: 3px;
  width: fit-content;
}

/*__________________________________       Load Page */
#loadPage {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 30, 1);
}

#loadPage img {
  position: absolute;
  opacity: 0;
  max-width: 80%;
}

#loadPage svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-top: 80px;
  opacity: 1;
  transform: translateY(40px);
  opacity: 0;
}

/*__________________________________       End CSS*/
