@media screen and (max-width: 1360px) {

#internalPages {
  width: 768px;
	min-width: 768px;
}

.pageGroupPattern { width: 640px; margin: 0 60px; }

}

@media screen and (max-width: 1199px) {

#logoTaltekHeader { width: 220px; margin-bottom: 5px; margin-top: 7px; margin-left: 20px; }
#langHeader { top: 20px; }
#menuBarHeader { top: 20px; right: 20px; }

h1 { font-size: 36px; }

.contentSlideBigSlider { max-width: 600px; bottom: 80px; }

#mainMenu .linkMainMenu { margin: 5px 0; }
#mainMenu .linkMainMenu a { font-size: 25px; }
#mainMenu .twoLevelMenu a { font-size: 16px; }
.twoLevelMenu { margin-bottom: 0; }

#contentContactsMenuModal p, #contentContactsMenuModal a { font-size: 18px; }

#footer { bottom: 60px; }

#internalPages { width: 100%; min-width: 100%; transform: translateX(0) translateY(100%); }

.pageGroupPattern { width: 800px; margin: 0 auto; }
.pageGroup:first-child { padding-top: 70px; }

header.closeMenu:after {
  content: '';
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
	background-color: rgba(255, 255, 255, 1);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  transform: translateY(-100%);
}

.innerPage header.closeMenu:after {
  transform: translateY(0);
}

.innerPage header.light.closeMenu .tab a { color: rgba(10, 10, 30, 1); border-color: rgba(10, 10, 30, 1); }

}

@media screen and (max-width: 1023px) {

#langHeader { right: 120px; }
.contentSlideBigSlider { bottom: 10px; }
#linkControlSlideBigSlider { display: inline-flex; flex-flow: row wrap; width: 100%; margin: 0; }
.linkControlSlideBigSlider { margin: 2px; border-bottom: 2px solid rgba(255, 255, 255, 0.2); }

.pageGroupPattern { width: 640px; margin: 0 auto; }

}




@media screen and (max-width: 767px) {

#langHeader { top: 80px; right: 10px; }
#langHeader .tab { margin-bottom: 20px; }
.tabBlock { display: block; }

h1 { font-size: 24px; }
.btSlideBigSlider a { font-size: 16px; }
.contentSlideBigSlider { bottom: 0px; margin: 50px 50px 45px 30px; }

#mainMenu .linkMainMenu a { font-size: 16px; }
#mainMenu .twoLevelMenu a { font-size: 12px; }
#mainMenu .twoLevelMenu li { line-height: 1; }
#mainMenu .linkMainMenu { margin: 2px 0; }
#mainMenu .linkMainMenu > a.linkKiller:after { width: 15px; height: 15px; }

#controlSlideBigSlider > div#navControlSlideBigSlider { display: block; bottom: 20px; right: 20px; }

.navControl.prevNavControl { transform: rotate(270deg); }
.navControl.nextNavControl { transform: rotate(90deg); }
.navControl.prevNavControl:hover { transform: rotate(270deg) translateX(2px); }
.navControl.nextNavControl:hover { transform: rotate(90deg) translateX(2px); }

.backModal .filter { top: 5px; left: 5px; }

#mainMenu { left: 25px; }

#footer { bottom: 0; margin: 15px; }
#madeKodyFooter, #copyrightTaltekFooter { position: relative; left: auto; right: auto; margin: 5px; }
#socialFooter { right: 30px; bottom: -3px; }
#copyrightTaltekFooter p, #madeKodyFooter p, #madeKodyFooter span, #madeKodyFooter a { font-size: 13px;}

.btSlideBigSlider a { flex-flow: row wrap; }
.btSlideBigSlider span:last-child { width: 200px; }

.innerPage header.light .tab a { color: rgba(255, 255, 255, 1); border-color: rgba(255, 255, 255, 1); }

.aboutGroup { padding: 50px 0; }
.pageGroupPattern { width: auto; margin: 0 25px; }
.pageGroup:first-child { margin-bottom: 30px; }

.headPageUnit { padding: 15px 0; }
.textTitleUnit { padding: 15px 0; }
.textTitleUnit p { font-size: 18px; }

.textSmallUnit { padding: 15px 0; }
.textSmallUnit.twoColumn p { width: auto; margin-right: 0; padding-bottom: 15px; }
.textSmallUnit.twoColumn p:last-child { padding-bottom: 0; }
.linkDocUnit.twoColumn a { width: 100%; margin-right: 0; font-size: 14px; margin-bottom: 15px; }
.linkDocUnit.twoColumn a:last-child { width: 100%; margin-right: 0; font-size: 14px; margin-bottom: 0; }
.linkDocUnit a span { width: 150px; padding-top: 7px; }
a.linkDocPdf:before { margin-left: 5px; margin-right: 26px; }



.headUnit h2 { font-size: 20px; }
.textNormalUnit { padding-right: 0; }
.textNormalUnit p { font-size: 16px; padding-bottom: 15px; }

.aboutColumn { display: block; }
.aboutColumn .cardNumbUnit { width: auto; margin-right: 0; margin-bottom: 20px; }
.aboutColumn .cardUnit:last-child { margin-bottom: 0; }
.aboutColumn .cardPhotoUnit { position: inherit; }
.cardsAboutPattern { padding: 20px 0; }
.photoRightPhotoAboutPattern { position: inherit; width: 100%; height: 200px; padding-top: 20px; }

.textRightPhotoAboutPattern { width: auto; }
.pageGroupPattern .textMicroUnit { width: auto; }

.aboutMap #geoMap { height: 515px; width: 790px; }
#moscowPicAboutMap { transform: translateX(100px) translateY(274px); }
#spbPicAboutMap { transform: translateX(100px) translateY(206px); }
#mtpPicAboutMap { transform: translateX(183px) translateY(185px); }
#barnaulPicAboutMap { transform: translateX(281px) translateY(435px); }
#kemerovoPicAboutMap { transform: translateX(223px) translateY(397px); }

.aboutMap { transform: translateY(-151px) translateX(-50px); margin-bottom: 140px; }
.cardNoteUnit { width: auto; top: 480px; left: 50px; }

.slideHistory p { width: auto; font-size: 15px; padding-right: 20px; }
.sliderHistory .controlSlide { right: 20px; top: 20px; bottom: auto; }

.slideHistory.hide { transform: translateX(0px) translateY(50px); }
.slideHistory.show { transform: translateX(0px) translateY(0px); }

#internalPages #footer { margin: 0; height: 60px; padding: 25px; width: auto; }
#internalPages #socialFooter { right: 25px; bottom: auto; }

.fiveCardsGroup { display: block; }
.fiveCardsGroup .cardPhotoUnit { width: auto; }
.fiveCardsGroup .cardsAboutPattern:first-child { padding-bottom: 0; }

.textNormalUnit.leftTextListPattern { width: auto; padding-right: 0; padding-bottom: 20px; }
.rightTextListPattern { width: auto; padding: 0; }
.leftTextListMissionPattern { display: block; margin-bottom: 10px; }
.leftTextListMissionPattern span { margin-bottom: 20px; display: block; }
.leftTextListMissionPattern h3 { font-size: 20px; line-height: 1.3; }

.transMap #geoMap { left: 0px; height: 623px; width: 660px; }
#trans { margin-bottom: 200px; }
.textNormalUnit.twoColumn p { margin-right: 0px; width: auto; }

.cardNumbUnit h2 { display: block; }
.h200 { height: 120px; }
.cardNumbUnit h3 { width: auto; }

.pager .navControl.prevNavControl { transform: rotate(180deg); }
.pager .navControl.nextNavControl { transform: rotate(0deg); }
.pager .navControl.prevNavControl:hover { transform: rotate(180deg) translateX(2px); }
.pager .navControl.nextNavControl:hover { transform: rotate(0deg) translateX(2px); }

.news-item-container a { font-size: 20px; }

.newsBlock {
    padding: 30px 20px;
    max-width: 600px;
}

}

@media screen and (max-width: 370px) {

#mainMenu { max-width: 220px; }

.pageGroupPattern { width: auto; margin: 0 20px; }

.news-item-container a { font-size: 18px; }

}




.w768 .twoColumn p { width: 270px; }
.w768 .linkDocUnit.twoColumn a { width: 225px; font-size: 14px; }
.w768 .linkDocUnit a span { width: 150px; padding-top: 7px; }
.w768 .aboutColumn .cardPhotoUnit { position: initial; min-width: 452px; margin-top: 30px; }
.w768 .photoRightPhotoAboutPattern { display: none; }
.w768 .photoRightPhotoAboutPattern.fullBlock { display: block; }
.w768 .textRightPhotoAboutPattern { width: auto; }
.w768 .photoRightPhotoAboutPattern { position: inherit; min-width: 495px; max-height: 200px; margin-top: 40px; }
.w768 #mtpPicAboutMap { transform: translateX(156px) translateY(237px); }
.w768 .cardNoteUnit { width: 240px; }
.w768 .cardNoteUnit p { font-size: 13px; }

.w768 .fiveCardsGroup { display: block; }
.w768 .fiveCardsGroup .cardsAboutPattern:first-child .cardNumbUnit:last-child { height: 200px; }
.w768 .fiveCardsGroup .cardsAboutPattern { padding: 0; }
.w768 .fiveCardsGroup .cardsAboutPattern:first-child .cardUnit { margin-bottom: 0; }

.w768 .textNormalUnit.leftTextListPattern { padding-right: 42px; }
.w768 .rightTextListPattern { width: 350px; }
.w768 .textGroupPattern.aboutColumn .cardNumbUnit { width: 170px; }

.w768 .textNormalUnit.twoColumn p { margin-right: 0px; width: auto; }
.w768 .transMap #geoMap { top: 150px; left: 10px; height: 625px; width: 100%; }
#trans.w768  { margin-bottom: 240px; }
